[2019-06-04 12:25] wolfstudy opened #13 "[Bug Fix] About go func(){} usage"
In [impl_producer.go#L79-L84](https://github.com/apache/pulsar-client-go/blob/master/pulsar/impl_producer.go#L79-L84), i think the correct way of handling should be:

[code]

test code:

[code]

output:

[code]

As you can see, you can only get the value of the last loop before passing the copy value of the variable `v` into the anonymous function.

[2019-06-04 14:14] #13 closed

[2019-06-24 03:46] wolfstudy opened #15 "[Consumer && Message Impl] Thinking about some code design"
hello @merlimat I am implementing the implementation of consumer and message related, there are several code design issues I want to communicate with you.

First: Is `Message` defined as struct more reasonable or as interface is more reasonable?

Second: Whether the `ConsumerMessage` struct can be replaced with a Message struct.

These two questions are related. For this, my idea is that we can de

[2019-07-10 06:46] wolfstudy opened #17 "Whether the error return value of Close() should be removed"
In the go language, in general, we can't ignore the error, but in the `client`, `producer`, and `consumer` we ignore a lot of return values of the error type, are these return values necessary?

For example:

[code]

In many cases, we will use the above method to perform the `Close` operation. If the error of the close is negligible, we should remove the return value of the error in the interface

[2019-07-17 06:38] wolfstudy opened #22 "Check interface is nil?"
#### Expected behavior

In go language, the interface contains two parts:

- ptr
- value

This interface is nil only if they are all nil. So in the go language, we can't tell if an interface is nil.

In [impl_producer.go#L95](https://github.com/apache/pulsar-client-go/blob/master/pulsar/impl_producer.go#L95)

[code]

This issue will be fixed in [pull#16](https://github.com/apache/pulsar-client-go/

[2019-07-23 07:05] wolfstudy opened #23 "[Code format] use golangci-lint check code of master"
#### Expected behavior

`golangci-lint run` success.

#### Actual behavior

[code]

#### Steps to reproduce

Install `golangci-lint` and run `golangci-lint run`

#### System configuration
**Pulsar version**: latest

[2019-07-26 02:41] #23 closed

[2019-07-26 08:32] wolfstudy opened #26 "[Integration Test] Non-partition/Multi-partition topic && key_shared"
**Describe the solution you'd like**

Add test case:

- Non-partition/Multi-partition topic && key_shared

[2019-07-26 08:33] wolfstudy opened #27 "[Integration Test] Multi-partition topic && subscribe of shared"
**Describe the solution you'd like**

Add test case:

- Multi-partition topic && subscribe of shared

[2019-07-26 08:34] wolfstudy opened #28 "[Integration Test] AckTimeout options"
**Describe the solution you'd like**

Add test case:

- AckTimeout options

[2019-07-26 08:44] wolfstudy opened #29 "Talk about `Buffer` interface"
#### Expected behavior

In [Go Standard Packages](https://godoc.org/-/go), provides a [bytes](https://godoc.org/bytes) package that encapsulates the implementation of the Buffer interface. In the case that the function can be satisfied, it is more inclined to use the officially provided lib.

#### Actual behavior

But in [pulsar/internal/buffer.go](https://github.com/apache/pulsar-client-go/blob/m

[2019-07-30 06:41] wolfstudy opened #30 "Talk about `grabcnx` logic"
**Is your feature request related to a problem? Please describe.**

In `grabcnx()`, we encapsulate the logic of lookupTopic with the specific BaseCmd request. This will cause both the producer and the consumer to be implemented.

**Describe the solution you'd like**

Can we use it as a function so that the producer and consumer can share the same function?

[2019-07-30 07:05] wolfstudy commented on #15
[code]

In fact, all we need is `Message`, so here we can use Message struct to handle the related logic.

[2019-07-30 07:47] wolfstudy opened #31 "Talk about `send` interface logic"
**Is your feature request related to a problem? Please describe.**

In `Producer` interface, `Send` is defined as follows:

[code]

In fact, when the pulsar client receives the `sendReceipt`, we don't assign a value to the `ProducerMessage`. The returned value is always nil.

**Describe the solution you'd like**

We can define the interface as follows:

[code]

This way, on the one hand, it can be

[2019-07-30 08:07] wolfstudy opened #32 "Support multi-topics and pattern topics logic"
**Is your feature request related to a problem? Please describe.**

The current consumer only supports specifying a specific topic name. We can consider supporting both multi-topics and pattern topics.

[2019-07-31 04:39] wolfstudy opened #33 "Fields other than payload in ProducerMessage cannot be received normally."
**Is your feature request related to a problem? Please describe.**

ProducerMessage contains these fields:

[code]

Fields other than payload in ProducerMessage cannot be received normally.

**Describe the solution you'd like**

When receiving a message, if the user sets other fields such as PartitionKey or Properties, these fields should be received correctly.

[2019-07-31 13:29] wolfstudy opened #34 "In ZLIB compress, we shouldn't ignore error info"
#### Expected behavior

pkg/compress/zlib.go

[code]

In here, we should handle error.

#### Actual behavior

pkg/compress/zlib.go

[code]

[code]

In here, we can't ignore error information, otherwise, even if compression errors occur, we will not be able to catch errors information.

#### Steps to reproduce

How can we reproduce the issue

#### System configuration
**Pulsar version**: x.y

[2019-07-31 13:45] wolfstudy opened #35 "Add ack timeout test case for consumer"
**Is your feature request related to a problem? Please describe.**

Now, ack timeout test case only tests some usage scenarios, we should add more comprehensive test.

**Describe the solution you'd like**

Add tests that ack partially of the messages, and only non-acked messages will be redeliver.
Also add this kind of test for shared multi-partitions consumer.

[2019-07-31 13:51] wolfstudy opened #36 "Support partition-consumer receive async logic"
**Is your feature request related to a problem? Please describe.**

Now, we not impl receive async logic of partition consumer.

**Describe the solution you'd like**

We should support receive async logic in partition consumer.

[2019-08-01 09:24] wolfstudy opened #39 "The message sent by the go client, the Java client's consumer can't receive it normally."
#### Expected behavior

The message sent by the go client, the Java client's consumer can receive it normally.

#### Actual behavior

The Java client's consumer can't receive it normally.

#### Steps to reproduce

Producer of Go client:

[code]

Java client receive:

[code]

The broker error information as follows:

[code]

#### System configuration
**Pulsar version**: x.y

[2019-08-02 01:16] #34 closed

[2019-08-02 01:37] jiazhai commented on #36
The current implementation for partition-consumer is a little different with Java and Cpp. We may first need make them align.

[2019-08-05 01:51] wolfstudy opened #40 "When using the go client's producer to send messages, the cgo client's consumer cannot be consumed normally."
#### Expected behavior

When using the go client's producer to send messages, the cgo client's consumer can be consumed normally.

#### Actual behavior

go client producer:

[code]

cgo client consumer:

[code]

cgo client receive payload content is nil.

[code]
#### Steps to reproduce

How can we reproduce the issue

#### System configuration
**Pulsar version**: x.y

[2019-08-05 05:43] wolfstudy commented on #22
The issue is fixed

[2019-08-05 05:43] #22 closed

[2019-08-06 15:39] #40 closed

[2019-08-06 15:44] #39 closed

[2019-08-06 15:44] #33 closed

[2019-08-06 15:45] #35 closed

[2019-08-07 06:45] wolfstudy opened #44 "The logic of Flush error"
#### Expected behavior

When I enable the batch function, the data in the batch should not be successfully consumed by the consumer when the size of the batch is not reached. Before the specified size of the batch is reached, only the operation that triggered Flush can flush the data in the batch.

[code]

#### Actual behavior

When I enable the batch function, the data in the batch can be success

[2019-08-07 08:38] wolfstudy opened #45 "When we set the MessageRouter policy, its value is nil"
#### Expected behavior

Users can customize the routing policy of messages, as follows:

[code]

#### Actual behavior

When we set the `MessageRouter` policy of ProducerOptions, the MessageRouter is nil.

[2019-08-07 13:05] #45 closed

[2019-08-08 09:36] #44 closed

[2019-08-08 09:38] wolfstudy opened #47 "fatal error: concurrent map read and map write"
#### Expected behavior

In `connection` struct, the map of `pendingReqs` is concurrent safe.

[code]

#### Actual behavior

[code]

#### Steps to reproduce

How can we reproduce the issue

#### System configuration
**Pulsar version**: x.y

[2019-08-08 12:12] #28 closed

[2019-08-08 12:13] #26 closed

[2019-08-08 12:13] #27 closed

[2019-08-09 06:33] wolfstudy opened #49 "Test killed with quit: ran too long (10m0s)"
#### Expected behavior

Tell us what should happen

#### Actual behavior

[code]

#### Steps to reproduce

How can we reproduce the issue

#### System configuration
**Pulsar version**: x.y

[2019-08-09 10:30] #49 closed

[2019-08-09 10:31] #47 closed

[2019-08-13 06:14] wolfstudy opened #52 "Catch up Java client function list"
**Non-Support Features:**

- [ ] Schema
- [ ] seek by time
- [x] nack
- [ ] replication
- [ ] Interceptor
- [ ] DeadLetterPolicy
- [x] receive with timeout
- [x] multi topics
- [x] topics pattern
- [ ] auto update partitions
- [ ] read compact
- [x] auth

[2019-08-14 02:28] wolfstudy opened #53 "Fatal error: concurrent map writes"
#### Expected behavior

The program works fine when we create multiple partitions.

#### Actual behavior

[code]

#### Steps to reproduce

How can we reproduce the issue

#### System configuration
**Pulsar version**: x.y

[2019-08-14 03:00] #36 closed

[2019-08-14 11:11] #53 closed

[2019-08-15 03:31] wolfstudy commented on #30
[code]

[2019-08-20 05:59] banishee opened #57 "The function Send() performance"
## Expected behavior

I want to send a quantity of messages using this pulsar-client-go, and I hope it can be done in less than 1 second

## Actual behavior

I call Send(ctx,msg) about 2000 times in a loop, it costs me 6 seconds to finish totally.
One message's capacity is 60 Bytes or so.

## Steps to reproduce

       for i:=0; i<2000; i++ {
                        ..........
		msg, err := proto.

[2019-08-20 06:51] wolfstudy commented on #57
I use the built-in perf tool to test, the configuration information is as follows:

[code]

The test output is as follows:

[code]

You can try sending it using `sendAsync`:

[code]

[2019-08-20 08:01] #57 closed

[2019-08-20 08:06] #30 closed

[2019-08-21 10:08] banishee opened #59 "setting the SequenceId can't have an effect on Message deduplication"
#### Expected behavior
Preparation:  Enabling message deduplication.
 when I initialized the `ProducerMessage{}`,  the `SequenceID` parameter was set to a specific value before I call the `SendAsync()`. So, in theory, the first Message will be received by the broker, and the following Messages will be discarded because of the repeated  SequenceID

#### Actual behavior
I tested this situation more

[2019-08-22 04:17] wolfstudy opened #60 "The flow of multi-Partition consumer can't work"
#### Expected behavior

The flow of multi-Partition consumer can correct  work

#### Actual behavior

The receive blocked.

#### Steps to reproduce

[code]

#### System configuration
**Pulsar version**: x.y

[2019-09-11 13:47] jiazhai opened #63 "Add sendtimeout support in producer client"
Add sendtimeout support in producer client

[2019-09-19 08:56] mileschao opened #64 "producer pending queue peek last with empty queue cause panic"
#### Expected behavior

[pending queue peek last operator](https://github.com/apache/pulsar-client-go/blob/11755b26da59f58c2675708af1470fe493d92e37/pulsar/impl_partition_producer.go#L296) should deal with return value **nil**

#### Actual behavior

case panic:

#### Steps to reproduce

this is code error

#### System configuration
**Pulsar version**: master branch

[2019-09-19 08:59] mileschao commented on #64
comment on interface
[PeekLast](https://github.com/apache/pulsar-client-go/blob/7a9aa2b36371437b1c409cb21cb2056ded7f198d/util/blocking_queue.go#L40)

@merlimat

[2019-10-01 01:32] xujianhai666 opened #68 "Use ConfigOption withxxxx for simple usage"
**Is your feature request related to a problem? Please describe.**
now, when we use client 、producer、consumer, we must provide CleintOption ProducerOption ConsumerOption, but there are many params on Option, which puzzle users.
according to Rob Pike: https://commandcenter.blogspot.com/2014/01/self-referential-functions-and-design.html and Dave cheney: https://dave.cheney.net/2014/10/17/functional-

[2019-10-11 13:36] boncheff opened #72 "Data race"
#### Expected behaviour

Running `go test ./... -race` should not fail

Tell us what should happen

#### Actual behaviour

[code]

Tell us what happens instead

#### Steps to reproduce

go test ./... -race

How can we reproduce the issue

#### System configuration
**Pulsar package version**: v0.0.0-20191008060812-61388933d356

[2019-10-14 18:12] xujianhai666 opened #74 "fmt code"
**Is your feature request related to a problem? Please describe.**
A clear and concise description of what the problem is. Ex. I'm always frustrated when [...]

fmt code

**Describe the solution you'd like**
A clear and concise description of what you want to happen.

gofmt

**Describe alternatives you've considered**
A clear and concise description of any alternative solutions or features you've

[2019-10-24 10:09] #64 closed

[2019-10-24 10:13] #74 closed

[2019-10-25 02:52] sunlc210 opened #76 "Transfer data is blocked by flush"
To pump data buy filebeat to pulsar cluster , by using go client .

Found that ,after sending message to pulsar successfully, there will be blocked by using flush function.

the code is below ：
[code]

log as below
[code]
the problem is occured on below section

[code]
no idea the logic ,but make sure the error is occur on it.

[2019-10-28 22:09] #72 closed

[2019-11-11 03:41] cckellogg opened #87 "Producer does not close all partitioned producers"
When closing a producer all partitioned producers should be closed.

The current code only closes the first partitioned producer
[code]

[2019-11-11 15:41] sunvooker opened #88 "in go mod 1.12 compile error"
#### Expected behavior
in go program with go mod 1.12

go.mod
`
module assets
go 1.12
require (
	github.com/apache/pulsar-client-go v0.0.0-20191110190923-af5c6d7e1f89
	github.com/go-sql-driver/mysql v1.4.0
	github.com/golang/glog v0.0.0-20160126235308-23def4e6c14b
	github.com/spf13/cobra v0.0.5
	golang.org/x/net v0.0.0-20190813141303-74dc4d7220e7 // indirect
	golang.org/x/sys v0.0.0-20190826190057

[2019-11-12 00:50] #87 closed

[2019-11-14 04:47] merlimat commented on #63
This is already implemented through the `context` object that is taken by the `Send()` call. If the passed context has a deadline, it will be honored.

[2019-11-14 04:47] #63 closed

[2019-11-14 04:50] merlimat commented on #31
👍 SGTM. It was a frequently requested feature on the C++  based Go client.

[2019-11-14 04:50] merlimat commented on #31
We should do this before stabilizing the API

[2019-11-14 04:52] merlimat commented on #17
Good point. In general we try to do graceful close and return error if we fail. For close method we could just do forced close anyway if any problem occurs.

[2019-11-14 19:55] #17 closed

[2019-11-27 14:06] hailin0 opened #107 "Producer deadlocks when pulsar downtime"
#### Expected behavior

Producer works normally after pulsar restart

#### Actual behavior

producer#flush deadlock after pulsar restart

#### Steps to reproduce

	for  {
		asyncMsg := pulsar.ProducerMessage{
			Payload: []byte(fmt.Sprintf("async-message")),
		}

		producer.SendAsync(ctx, &asyncMsg, func(mid pulsar.MessageID, msg *pulsar.ProducerMessage, err error) {
			if err != nil { log.Fatal(e

[2019-11-28 14:18] reugn commented on #88
@sunvooker try `export GO111MODULE=on`

[2019-12-03 07:08] jiazhai commented on #107
Thanks @reugn for helping on this issue

[2019-12-03 07:10] jiazhai commented on #88
@sunvooker have you tried the method that @reugn suggested? Does it solve your issue?

[2019-12-08 02:00] Jim-Lambert-Bose opened #111 "consumer.Subscription() returns "" since options are never set in internalTopicSubscribe()"
#### Expected behavior
Subscriber.Subscription() should return the subscription name

#### Actual behavior
returns ""

#### Steps to reproduce

create subscriber with pulsar.ConsumerOptions{
SubscriptionName: "anything-at-all"
}

Then try to call sub.Subscription()

It appears you pass the options correctly when creating the newPartitionConsumer, but you forgot to set them in the consumer you retu

[2019-12-08 02:46] Jim-Lambert-Bose opened #112 "Can't install go module."
#### Expected behavior
go get github.com/apache/pulsar-client-go@latest

should download and install the latest commit on the master branch

#### Steps to reproduce

$ go get github.com/apache/pulsar-client-go@latest
go: finding github.com/apache/pulsar-client-go latest
go build github.com/apache/pulsar-client-go: no non-test Go files in /Users/jimlambrt/go/pkg/mod/github.com/apache/pulsar-client-

[2019-12-08 02:53] Jim-Lambert-Bose commented on #112
Looks like the module is download and "installed" but the go.mod file is not updated to reflect the new version.

[2019-12-09 09:02] jiazhai commented on #88
@sunvooker I would like to close this issue. and once needed please re-open it.

[2019-12-09 09:02] #88 closed

[2019-12-09 09:06] jiazhai commented on #112
Thanks for @Jim-Lambert-Bose your reporting. Seems you get the root cause. Would you like to provide a PR to fix it?

[2019-12-09 09:09] #111 closed

[2019-12-09 09:20] jiazhai commented on #76
Thanks @sunlc210 for the detailed report. Seems this is reproduce-able. mark this as help-wanted firstly

[2019-12-09 09:22] sunlc210 opened #114 "The pulsar go client missing data when transfer"
Now I found one problem relate to pulsar go client

The whole process of mine is   csv file  filebeatpulsar flume hive

At past time I verified the data count ,found that the data by this path missing about 0.46% compare with the path of logstashkafka .

No idea the reason why ,so I tried below steps

1 Reduce the amount of data from 100% to 50%, excluding data loss caused by too much pressur

[2019-12-09 09:36] jiazhai commented on #68
Thanks @xujianhai666 for your help on this issue and PR.

[2019-12-09 09:36] jiazhai commented on #52
@wolfstudy Is this updated with latest master?

[2019-12-09 09:41] jiazhai commented on #114
@sunlc210 Thanks for reporting this issue.
Is it reproduce-able to simulate the filebeat behavior by purely pulsar go client, This is very helpful to the fix.

[2019-12-09 09:44] jiazhai commented on #15
@wolfstudy Is this issue still need?

[2019-12-09 09:48] jiazhai commented on #32
This seems be a sub-task of #52

[2019-12-09 18:42] reugn commented on #112
@Jim-Lambert-Bose why do you need to build it?
And what do you mean by

I think this dummy main file is redundant.
Opened a PR #116 to tidy this out a bit.

[2019-12-09 19:11] wolfstudy commented on #15
Yes, will close the issue

[2019-12-09 19:11] #15 closed

[2019-12-09 19:12] wolfstudy commented on #29
The issue has been resolved.

[2019-12-09 19:12] #29 closed

[2019-12-09 19:18] reugn commented on #76
@sunlc210 why do you set flushImmediately flag to true and then explicitly call the blocking Flush method?

[2019-12-09 19:19] Jim-Lambert-Bose commented on #112
I agree, your solution is better and should fix the issue.  `go get` was able to download @latest version of the module, but since the "build" failed (with only test files in the root dir) the go tooling would not update the go.mod file in my project that used the pulsar client... effectively, the module was "installed" but the tooling didn't auto-magically update the go.mod file... this meant I c

[2019-12-09 19:19] Jim-Lambert-Bose commented on #112
Feel free to close my PR since it's superseded by your PR

[2019-12-10 02:00] sunlc210 commented on #114
I'm sorry, I can't use goclient, but I sent the data file to @xiaolong and @tuteng

[2019-12-10 02:03] sunlc210 commented on #76
@reugn In fact, I've set false too, which seems useless

[2019-12-10 02:05] jiazhai commented on #31
seems already get a conclusion. would like to close this issue

[2019-12-10 02:06] #31 closed

[2019-12-10 18:36] cckellogg commented on #76
@sunlc210 How are you using the producer in your code are you calling just calling  `Send()`? are you using the latest version of the client? I'm not too familiar with Filebeat do you have an example of how you are using it to send data to the pulsar cluster? This would be helpful in trying to debug.

[2019-12-10 18:37] cckellogg commented on #60
@wolfstudy is this still is an issue with the latest client?

[2019-12-11 01:59] jiazhai commented on #112
cool. Thanks a lot for your contribute

[2019-12-11 02:00] jiazhai commented on #112
Since The PR is merged. will close this issue.

[2019-12-11 02:00] #112 closed

[2019-12-11 16:42] Jim-Lambert-Bose opened #118 "Data race: type client.handers map is not concurrent safe"
#### Expected behavior

Client should be concurrent safe.  Writes to client.handlers marking them closable should never cause a panic.

#### Actual behavior

Current implementation allows a race condition since there is no sync.Mutex or something similar protect concurrent writes to the map index.  Examples:

- https://github.com/apache/pulsar-client-go/blob/e65b4795a5928d7989c3089dca5e5243439160d

[2019-12-11 19:40] Jim-Lambert-Bose commented on #118
https://github.com/apache/pulsar-client-go/pull/119/files

[2019-12-11 19:46] Jim-Lambert-Bose opened #120 "Data race: type connection_pool.go GetConnection() is not concurrent safe"
## Expected behavior

Internal `func (p *connectionPool) GetConnection(logicalAddr *url.URL, physicalAddr *url.URL) (Connection, error)`  should be concurrent safe.   It reaches into the connection type and reads attrribs protected by a mutex without locking/unlocking

## Actual behavior

Current implementation allows a race condition since there is no call to lock/unlock the sync.Mutex in the con

[2019-12-12 12:23] hailin0 commented on #107
@reugn
I tested [pr 108](https://github.com/apache/pulsar-client-go/pull/108) but it didn't recover

[2019-12-13 03:48] tuteng opened #123 "The client batch is full, resulting in data loss or client is blocked"
This is the reason for these two problems https://github.com/apache/pulsar-client-go/issues/76 and https://github.com/apache/pulsar-client-go/issues/114.

#### Expected behavior

When the batch is full, the current data should be retried to ensure that the data can be successfully sent.

#### Actual behavior

#### Steps to reproduce

1. SendAsyc is used to send data
2. ensure that each piece of da

[2019-12-16 05:06] wolfstudy commented on #60
The issue has been fixed, will close it.

[2019-12-16 05:06] #60 closed

[2019-12-16 05:07] #32 closed

[2019-12-16 06:02] wolfstudy commented on #118
The issue has been fixed, will close it.

[2019-12-16 06:03] #118 closed

[2019-12-16 06:14] wolfstudy commented on #120
Thanks @Jim-Lambert-Bose work for this.

I can't reproduce the issue in my local, I will close this issue if you encounter this issue again, please reopen it or please let me know, thanks.

[2019-12-16 06:28] #120 closed

[2019-12-16 08:01] grtfou commented on #112
Install module fail.
[code]

[2019-12-16 11:44] wolfstudy commented on #107
@reugn Maybe the issue is similar to #124. Can you try it again?

[2019-12-17 04:35] #123 closed

[2019-12-17 04:35] #76 closed

[2019-12-17 04:35] #114 closed

[2019-12-18 13:08] wolfstudy opened #129 "The consumer can't Unsubscribe correctly in Failover sub mode"
#### Steps to reproduce

run code as follows:

[code]

![image](https://user-images.githubusercontent.com/20965307/71088827-62a83780-21da-11ea-8e9d-bf45e53326aa.png)

#### System configuration
**Pulsar version**: 2.5.0

[2019-12-19 05:53] #107 closed

[2019-12-19 07:30] wolfstudy commented on #129
This is normal because in the subscription mode of Failover, there are multiple consumers, but they belong to the same subscription.

will close it.

[2019-12-19 07:30] #129 closed

[2019-12-23 12:20] dsmlily opened #140 "consumer is closed, but consumer.Recieve() is blocked instead of throwing an exception"
client, err := pulsar.NewClient(pulsar.ClientOptions{URL: "pulsar://localhost:6650"})
	if err != nil {
		log.Fatal(err)
	}

	defer client.Close()

	consumer, err := client.Subscribe(pulsar.ConsumerOptions{
		Topic:            "topic1",
		SubscriptionName: "my-sub",
		Type:             pulsar.Shared,
	})
	if err != nil {
		log.Fatal(err)
	}

	if err := consumer.Unsubscribe(); err != nil {
		log.Fat

[2019-12-24 07:01] wolfstudy commented on #140
@dsmlily The issue has been fixed, will close it.

[2019-12-24 07:01] #140 closed

[2019-12-24 07:46] dsmlily opened #143 "pulsar-client-go producer_partition crash"
### Expected behavior

Tell us what should happen

### Actual behavior

[code]

### Steps to reproduce

How can we reproduce the issue

### System configuration

Pulsar version: x.y

[2019-12-24 18:54] cckellogg commented on #143
How did you setup your producer? Can you share the code and any steps to reproduce this error? This will help to debug this.

[2019-12-25 06:26] jiazhai commented on #143
@dsmlily Would you please help provide more details as @cckellogg suggested ?

[2019-12-26 07:11] dsmlily opened #144 "For a pulsar.Client instance, Once Client.Subscribe() times out, all subsequent Client.Subscribe() fail"
#### Expected behavior

When the network is restored, the subscription is successfully created

#### Actual behavior

When the network is restored, creating a subscription fails

#### Steps to reproduce
##### 1、code file  test.go

[code]

[code]

##### 2、steps

- go run test.go

- After the first call to subscribe (), the network packet loss simulation is started. After the fourth call to subscrib

[2019-12-26 09:45] freeznet opened #145 "producer cannot connect to broker through pulsar proxy"
pulsar-client-go cannot connect to pulsar broker through pulsar proxy, the connection failed when send `PRODUCER` command to pulsar proxy, proxy will throw `UnsupportedOperationException`, and client got `Short read when reading frame size` error.

After code review, I found out that once client get `LOOKUP` result with `ProxyThroughServiceUrl == true`, client should open a new connection to proxy

[2019-12-26 13:30] dsmlily opened #147 "consumer.Receive () is blocking, availablePermits are decreasing, but msgBacklog is increasing"
#### Expected behavior

The topic stats as follows:

[code]

#### System configuration
**Pulsar version**: 2.4.0
 **type** : Failover

[2019-12-27 02:32] dsmlily commented on #143
@jiazhai @cckellogg  Sorry，this problem should be caused by our improper use of golang map.

[2019-12-27 02:32] #143 closed

[2019-12-27 11:45] wolfstudy opened #148 "Add seek by msgID on consumer"
**Describe the solution you'd like**

Add seek by msgID on the consumer, the interface as follows:

[code]

[2019-12-27 11:54] sijie opened #149 "Add seek by time on consumer"
**Describe the solution you'd like**

Add seek by time on the consumer, the interface as follows:

[code]

[2019-12-27 12:15] wolfstudy commented on #144
@dsmlily Thanks work for this, I tried using the reproduce you provided, but everything is ok, the output as follows:

[code]

[2019-12-27 21:45] cckellogg commented on #147
Can you provide some code and or steps to reproduce this? This will help in debugging it.

[2019-12-28 10:15] zxbfeng opened #150 "Support Delayed message delivery"
How can I produce a delayed message with golang ?

[2019-12-28 12:00] dsmlily commented on #147
[code]

[2019-12-28 18:20] cckellogg commented on #147
Does this only happen for a failover subscription? Do you have multiple consumers for that failover subscription? What value are you using for ConfMgr.PULSAR_CONSUME_QUESIZE?

Can you try getting some client debug logs too?
I think you can this to turn on debugging.

log "github.com/sirupsen/logrus"

and then do something like this.
[code]

[2019-12-29 05:31] wolfstudy commented on #150
Currently, the go client doesn't support Delayed delivery messages, If you are interested in this feature, welcome to contribute.

[2019-12-29 11:08] dsmlily commented on #147
@cckellogg  I only uses the failover subscription, I will try others type. There is only one consumer for that failover subscription. 1024 is used for ConfMgr.PULSAR_CONSUME_QUESIZE.

[2019-12-29 19:06] cckellogg commented on #147
Just so I understand correctly the application starts to block at this line.
[code]
And the message backlog starts to increase and the number of available permits starts to decrease.

Do you ever receive messages any messages or does it initially block and no messages are ever received?

Do you have logs from the application that you can share before it starts to block?

[2019-12-30 06:19] dsmlily commented on #147
@cckellogg  I had received some messages before this happened.

[2019-12-30 06:23] dsmlily commented on #144
@wolfstudy did you do this when the network was poor or the connection between the client and pulsar broker was broken

[2019-12-30 12:06] zxbfeng commented on #150
嗯，好的 我拉一个分支，尝试下

[2019-12-30 12:39] dsmlily opened #151 "consumer.Subscribe() blocked after the "Short read when reading frame size" error happend"
####  Steps to reproduce
##### 1、code

[code]
##### 2、Screenshot
![image](https://user-images.githubusercontent.com/8154781/71582256-4abea500-2b44-11ea-80b9-d8b122a44687.png)

#### System configuration
**Pulsar version**: 2.4.0

[2019-12-30 13:53] xujianhai666 opened #152 "Support receive timeout"
**Is your feature request related to a problem? Please describe.**
A clear and concise description of what the problem is. Ex. I'm always frustrated when [...]
be consistent with java consumer impl

**Describe the solution you'd like**
A clear and concise description of what you want to happen.

**Describe alternatives you've considered**
A clear and concise description of any alternative solution

[2019-12-30 13:55] xujianhai666 commented on #152
working on this now.

[2019-12-31 03:08] freeznet opened #153 "Memory leaks when producer/consumer close"
#### Expected behavior

When `producer.Close()` or `consumer.Close()`, all related memory should be freed.

#### Actual behavior

When we rapidly start and close multiple producers (or consumers), memory cost of the process are becomes very large. `pprof` results as follows:

[code]

after 100 iterations of create and close producer with different topic, a possible memory leak was found (`github.c

[2019-12-31 05:01] #145 closed

[2019-12-31 05:37] wolfstudy commented on #150
Cool, can you speak English?

[2019-12-31 05:40] wolfstudy commented on #152
Cool, thanks for your contribution.

[2019-12-31 14:19] dsmlily commented on #147
20:55:23.398 [ForkJoinPool.commonPool-worker-4] INFO  org.apache.pulsar.broker.service.ServerCnx - [/10.32.68.186:60483]-1 persistent://2/signal/10.32.68.228:
8787:19629:1577796819643 configured with schema false
20:55:23.398 [ForkJoinPool.commonPool-worker-4] INFO  org.apache.pulsar.broker.service.ServerCnx - [/10.32.68.186:60483] Created new producer: Producer{topic=PersistentTopic{topic=persist

[2019-12-31 14:51] dsmlily commented on #147
client logs:
![image](https://user-images.githubusercontent.com/8154781/71624911-ed982180-2c1f-11ea-87cd-b38f5c823268.png)
![image](https://user-images.githubusercontent.com/8154781/71624923-fab51080-2c1f-11ea-9bb6-c4071fa355f0.png)

[2019-12-31 15:37] dsmlily opened #155 "The availablePermits of the topic is twice as much as the consumer.ReceiverQueueSize"
@cckellogg @wolfstudy
#### Expected behavior

They are equal

#### Actual behavior
The availablePermits of the topic is twice as much as the consumer.ReceiverQueueSize

#### Steps to reproduce

Occasional, not easy to reproduce

#### System configuration
**Pulsar version**: 2.4.0

[2019-12-31 23:29] cckellogg commented on #152
Doesn't the consumer already support a receive timeout?

https://golang.org/pkg/context/#WithTimeout

You can create a context with a timeout and if that expires the receive will return.

[2019-12-31 23:31] cckellogg commented on #155
Does the consumer stop receiving messages when this happens? It's possible this could happen if messages are batched by the producers. What is your average message size and rate that you are producing? Also how is your producer configured?

[2019-12-31 23:35] cckellogg commented on #147
Do you see any logs that start with this? `requesting more permits` or `unable to send permits`?

[2020-01-01 06:29] xujianhai666 commented on #152
@cckellogg yes, I impl with that.

[2020-01-01 06:39] cckellogg commented on #152
@xujianhai666 Why do you need to add another method if you can already do it with current method Receive function?

[2020-01-01 12:47] dsmlily commented on #155
1、Just created the consumer and it happened. After that, the consumer could receive messages.
2、The average message size is 250 byte and the rate is 1-3 messages /s
3、the producer is just configured the topic name

[2020-01-01 12:52] dsmlily commented on #147
the consumer's logs are in  the file "proxylog.txt"
[proxylog.txt](https://github.com/apache/pulsar-client-go/files/4014058/proxylog.txt)
the producer's logs are in the file "workerlog.txt"
[workerlog.txt](https://github.com/apache/pulsar-client-go/files/4014059/workerlog.txt)

[2020-01-02 02:21] wolfstudy commented on #52
will close this issue, and track them in other pull request

[2020-01-02 02:21] #52 closed

[2020-01-02 03:01] wolfstudy commented on #144
thanks @dsmlily, I reproduced this issue. in `rpc_client.go` we need to support retry logic in case of connection issues.

[2020-01-02 03:03] wolfstudy commented on #151
The issue same with #144

[2020-01-02 03:14] #151 closed

[2020-01-02 17:39] cckellogg commented on #155
@dsmlily just to confirm you still receive messages as normal but the number of available permits is about double the queue size? Is that correct? Does the consumer ever stop receiving message?

[2020-01-03 06:26] dsmlily commented on #155
@cckellogg
1、just to confirm you still receive messages as normal but the number of available permits is about double the queue size?
Yes, I still receive messages as normal but the number of available permits is about double the queue size.
2、Is that correct?
If you refer to the message, yes, the message is correct.
3、Does the consumer ever stop receiving message?
the consumer has been running

t

[2020-01-03 06:30] dsmlily commented on #147
today, I reproduce this, and find that the consumer reconnects broker every 90 seconds in blusar's logs, and the time is same as the connectedSince:

#####  1、broker's logs:
[code]

#####  2、topics stats：
[code]

[2020-01-03 23:17] cckellogg commented on #147
What version of the client are you using? There is PR up (https://github.com/apache/pulsar-client-go/pull/161) that fixes some connection issues that were recently introduced.

[2020-01-05 11:38] dsmlily commented on #147
the version of the client is commit 5004b5d81001f7276091b11699cf568778d83556

[2020-01-05 13:17] #144 closed

[2020-01-05 15:23] #147 closed

[2020-01-05 15:25] merlimat commented on #147
@dsmlily The issue was fixed in #163 and merged in master now.

[2020-01-06 08:40] #150 closed

[2020-01-06 13:06] wolfstudy opened #164 "Discusses the logic of the current connection pool implementation"
#### Expected behavior

When a consumer receives messages that are blocked, other consumers can continue to receive messages.

#### Actual behavior

The consumer receives logic is as follows:

![image](https://user-images.githubusercontent.com/20965307/71818855-10fe1900-30c5-11ea-91af-1f6830d05962.png)

The `queue channel` is buffered chan, the buffer size is `receiveQueueSize`, when the buffer of

[2020-01-06 13:09] wolfstudy commented on #164
@merlimat @cckellogg If there is anything wrong with understanding, please let me know

[2020-01-08 18:34] cckellogg commented on #164
@wolfstudy

The design of the go client is a little different from the java client. The job of the dispatcher is to ensure the receiver queue channel is never blocked so we can reuse client connections.
The dispatcher can ensure this because it will only ask the broker for more messages (send permits) when there is room on the queue channel. This should work because
the queue channel accepts a sli

[2020-01-09 13:05] wolfstudy opened #169 "Replace Apache Jenkins with Github Action CI"
**Is your feature request related to a problem? Please describe.**
A clear and concise description of what the problem is. Ex. I'm always frustrated when [...]

**Describe the solution you'd like**
A clear and concise description of what you want to happen.

**Describe alternatives you've considered**
A clear and concise description of any alternative solutions or features you've considered.

**Ad

[2020-01-11 01:35] EronWright opened #171 "Enable TLS hostname verification by default"
#### Expected behavior

The client should use hostname verification by default, especially when using the host's CA bundle.
Hostname verification is a critical aspect of TLS when using public root certificates, to prevent an [MITM attack](https://en.wikipedia.org/wiki/Man-in-the-middle_attack).  See the famous paper: ["The Most Dangerous Code in the World"](http://www.cs.utexas.edu/~shmat/shmat_cc

[2020-01-13 09:15] wolfstudy commented on #169
The feature has done, will close the issue

[2020-01-13 09:15] #169 closed

[2020-01-14 08:47] wolfstudy opened #172 "Support key based batcher for key_shared"
**Is your feature request related to a problem? Please describe.**

If users want to enable batch in key_shared subscription type, we need to support `key based batcher` feature.

**Describe the solution you'd like**

Support `key based batcher` in go client, reference to: https://github.com/apache/pulsar/pull/4435/

[2020-01-15 08:52] dsmlily opened #173 "lookupTopicResponse cause crash"
[code]

(END)
![image](https://user-images.githubusercontent.com/8154781/72420200-3ff94680-37b9-11ea-80c0-0a3d96d3fa50.png)

[2020-01-15 10:20] #173 closed

[2020-01-16 21:43] #153 closed

[2020-01-19 06:37] #152 closed

[2020-01-20 07:09] hailin0 opened #177 "Not support multi pulsar cluster addresses"
**Is your feature request related to a problem? Please describe.**
not support the use of pulsar cluster addresses?

**Describe the solution you'd like**

[code]

**Describe alternatives you've considered**
A clear and concise description of any alternative solutions or features you've considered.

**Additional context**
Add any other context or screenshots about the feature request here.

[2020-01-30 19:51] gperinazzo opened #178 "fatal error: concurrent map read and map write"
#### Expected behavior

Library should not crash

#### Actual behavior

Library is crashing when trying to access a map:
[code]

#### Steps to reproduce

Happens when trying to create a lot of producers while sending a lot of messages

#### System configuration
**Pulsar version**: 2.5.0

[2020-02-01 06:27] wolfstudy commented on #177
Thanks @hailin0 feedback.

Currently, the `go-client` not support multi URL in `NewClient()`.

[2020-02-02 08:22] #178 closed

[2020-02-03 04:59] wolfstudy commented on #148
The feature has been implemented in #168

[2020-02-03 04:59] #148 closed

[2020-02-04 19:34] zzzming opened #181 "Crash on pulsar-client-go@v0.0.0-20200129234600-6943327c9690/pulsar/client_impl.go:146 +0x14a"
#### Expected behavior

Do not crash

#### Actual behavior

[code]
#### Steps to reproduce
A Go client to create a producer and a consumer that sends and receives a message , then close both producer and consumer every two minutes in a loop. The client is only created once in the bootstrap. The crash signature described above can be seen within 24 hours.

#### System configuration
Pulsar-client-go

[2020-02-05 02:54] wolfstudy commented on #149
The feature has done in #180

[2020-02-05 02:54] #149 closed

[2020-02-06 06:01] #164 closed

[2020-02-07 10:27] #181 closed

[2020-02-11 16:37] adaiboy opened #183 "support Cumulative ack"
pulsar-client-go use CommandAck_Individual  now,  and we can subscrib a topic in exclusive, so  add CommandAck_Cumulative is usefull.

and it seems not very difficult, may is it already in your scheduler?

[2020-02-11 20:38] merlimat commented on #183
The cumulative ack was left out on purpose and the reasoning was (in weighted order):
 * Keep things simple in API
 * Keep things simple in client impl
 * Cumulative ack doesn't provide much more performance/effciency
 * Sequential individual acking will be equivalent

[2020-02-13 08:21] adaiboy commented on #183
i have doubts with the " doesn't provide much more peformance" than individual ack
- Cumulative ack doesn't provide much more performance/effciency
- Sequential individual acking will be equivalent

i set up a test cluster, with a persistent topic , just one subscription with exclusive type,
though some config in broker not be perfect, but i tuned the configure some days according to the source co

[2020-02-13 09:37] ghosts1995 opened #185 "go1.13.5 the 1 error generated."
#### Actual behavior

go: finding github.com/apache/pulsar/pulsar-client-go latest
go: finding golang.org/x/sys latest
go: finding golang.org/x/crypto latest
# github.com/apache/pulsar/pulsar-client-go/pulsar
In file included from ../../pkg/mod/github.com/apache/pulsar/pulsar-client-go@v0.0.0-20200212225417-7cade481a1e0/pulsar/c_client.go:24:
./c_go_pulsar.h:22:10: fatal error: 'pulsar/c/client.h'

[2020-02-13 20:25] cckellogg commented on #185
This is related to the c++ client which is located in this repo.
https://github.com/apache/pulsar
https://pulsar.apache.org/docs/en/client-libraries-go/#requirements

This repo is for the native go client. To use the native client you can do this:
[code]

[2020-02-21 07:22] dsmlily opened #187 "Client.Subscribe() times out"
#### Expected behavior
if the Client.Subscribe times out, the created consumer should be closed

#### Actual behavior
  Client.Subscribe() times out.In fact, the broker successfully created the consumer. The time taken by the broker just exceeded the timeout.

#### System configuration
**Pulsar version**: 2.4.0

[2020-02-24 02:14] zxbfeng opened #188 "Is this project support "if one pulsar broker dead,the request will request other brokers""
when use client and the URL like this:"pulsar://us-west.example.com:6650",and the host "us-west.example.com" maps three ip:ip1,ip2,ip3, so when ip1 dead, can the client will not request ip1?
PS: when I use client, should it be global or local ?

[2020-02-25 12:05] dsmlily opened #189 "The producer is gone, after modifying the parameter defaultNumberOfNamespaceBundles and restarting the brokers"
#### Expected behavior

The application can continue to work without being affected

#### Actual behavior

the application cannot produce messages to the broker

#### Steps to reproduce

Occasional

#### System configuration
**Pulsar version**: 2.4.0
There are 3 brokers in our Pulsar cluster。

#### What happened
The parameter defaultNumberOfNamespaceBundles was set 4. After Modify parameter defaul

[2020-02-25 16:43] cckellogg commented on #188
What's the issue you are having? You should use the global one `pulsar://us-west.example.com:6650` and the client will end up connecting to the correct ip assuming they are all reachable by the client.

[2020-02-27 18:15] zzzming opened #190 "Retry/backoff configuration"
#### Expected behavior
The client connect retry and backoff should be bound to the requestTimeout.

#### Actual behavior
The backoff and retry mechanism currently is specified in non-configurable fashion
1. Min and max back off time is specified at
https://github.com/apache/pulsar-client-go/blob/master/pulsar/internal/backoff.go#L30

It takes total 11 retries for client connection to timeout. Ther

[2020-02-28 02:07] #185 closed

[2020-02-28 16:56] zzzming opened #192 "Consumer Close() reports failure after Unsubscribe()"
#### Expected behavior
If Consumer Close() is called after Unsubscribe(), it will report error that `"server error: MetadataError: Consumer not found" name=consumer12 subscription=sharedsub0 topic="persistent://tenant/ns/topic"` Does it makes that once a consumer is unsubscribed, it should set the pc.state = consumerClosed so that internalClose() won't be sending BaseCommand_CLOSE_CONSUMER

#### A

[2020-02-29 17:08] afire007 opened #193 "Add Tags to tag different versions of the GoLang Client for Versioning"
**Is your feature request related to a problem? Please describe.**
This repository should tag older versions of the Pulsar Golang client

**Describe the solution you'd like**
Tag different versions so its easy to downgrade/upgrade using golang github plugin for managing dependencies

**Describe alternatives you've considered**
Currently I clone and tag the native pulsar library in order to tag old

[2020-03-13 10:29] mileschao opened #194 "test case for consumer SeekByTime"
Hi,
Is it testify enough to not check published time for message in the test case for consumer [SeekByTime](https://github.com/apache/pulsar-client-go/blob/fc390a6a37f3cbd94ac46b3b5e4239b3ca5df875/pulsar/consumer_test.go#L823) ?
[test assert here](https://github.com/apache/pulsar-client-go/blob/fc390a6a37f3cbd94ac46b3b5e4239b3ca5df875/pulsar/consumer_test.go#L873)
any idea?

[2020-03-13 15:14] jiazhai opened #195 "perf tools performance about 1/10 of java client"
[code]

[code]

[2020-03-16 01:22] mileschao commented on #194
@sijie
Hi, It seems that, `SeekByTime` will consume from the earliest message of a topic, whatever the time it is.

[2020-03-16 04:06] cgfork commented on #192
m

[2020-03-16 04:50] sijie commented on #194
@mileschao - @wolfstudy can help look into this issue this week.

[2020-03-16 11:41] #190 closed

[2020-03-16 14:04] zzzming commented on #195
Pref tool has a channel to pass the latency is unbuffered that means it is synchronized
https://github.com/apache/pulsar-client-go/blob/master/perf/perf-producer.go#L99
With a buffered channel, I tested this would only improve roughly 10% with larger size payload over 1KB.

I attest that the problem might be within SDK not the perf tool. I am unable to push one fifth of Java client message rate wi

[2020-03-16 14:51] wolfstudy commented on #194
Sure, will try to reproduce and solve this issue

[2020-03-16 15:23] wolfstudy commented on #195
In my local environment, the go client is indeed slower than the Java client, but there is no gap of 1/10. The test content is as follows:

Pulsar Broker: 2.5.0

| Info | Value |
|---| ---|
|System| MacOS|
|Disk| SSD|
|Mem|16 GB 2400 MHz DDR4|
|CPU|2.6 GHz Intel Core i7|

#### Java Perf tool:

[code]

#### Go perf tool:

[code]

[2020-03-16 15:49] wolfstudy commented on #193
Thanks @afire007, Maybe we can create alpha tag in `pulsar-client-go`, convenient for users to downgrade/upgrade native Go Client.

@sijie What do you think of this suggestion?

[2020-03-16 16:31] zzzming commented on #193
@wolfstudy @sijie Can we follow the go.mod tagging and versionning, https://blog.golang.org/publishing-go-modules ? Although not everyone has adopted go.mod, most projects have. With go mod v2 and major release, it may help us to align go client lib with any backward non-compatible Pulsar release. Thanks

[2020-03-16 16:34] sijie commented on #193
@wolfstudy Can you start the email thread discussing releasing the first version of go client? I don't think we need to create an alpha tag.

@zzzming IMO the version should follow Pulsar's versioning convention.

[2020-03-16 16:58] zzzming commented on #195
@wolfstudy Are you running standalone? I found the rate gap is smaller on standalone. I think the original issue ran on bastion.

[2020-03-17 01:19] mileschao commented on #194
I've try java client for seek by time, pulsar version 2.5.0.
The same problem.
so. I think it may be the bug of pulsar itself, not the client.

[2020-03-17 05:35] wolfstudy commented on #194
Hello @mileschao when you use `seekByTime`, you should use `EventTime` or `PublishTime` of **ProducerMessages** struct to `seek`.

Currently, the test case set time is longer, which is equivalent to seek to earliest, so you will see that messages are consumed from the beginning. If you want to consume messages from the specified time, you can seek to the specified `EventTime`.

[2020-03-17 09:00] mileschao commented on #194
@wolfstudy
It is the `PublishTime` of message that have been used.
It seems whatever the time it is,  consumer will receive the message from the earliest.

just as comment I've noted before

I think you can reproduce it :-)

[2020-03-17 09:09] mileschao commented on #194
@wolfstudy
Question:
If the `PublishTime`s of Messages are:
"2020-03-17T13:45:50-0400"
"2020-03-17T13:46:50-0400"
"2020-03-17T13:47:50-0400"

when I use the `SeekByTime(time time.Time)`, can I set time as "2020-03-17T13:46:40-0400"?
and, can I receive Messages with `PublishTime`s:
"2020-03-17T13:46:50-0400"
"2020-03-17T13:47:50-0400"

Thx for your time. :-)

[2020-03-17 17:04] wolfstudy commented on #194
@mileschao Yes i reproduced this problem and i am fixing it thanks for your feedback

[2020-03-18 01:23] mileschao commented on #194
@wolfstudy :-)
Thx for your fixing.
Is this A bug of go client? or, pulsar server?

[2020-03-18 04:18] wolfstudy commented on #195
[code]

[2020-03-18 09:37] wolfstudy commented on #194
@mileschao The bug will be fixed in https://github.com/apache/pulsar-client-go/pull/199, PTAL

[2020-03-18 09:56] mileschao commented on #194
@wolfstudy
Thx for your quick fix. :-)
PR merge wanted.

[2020-03-18 16:39] #192 closed

[2020-03-19 01:52] mileschao opened #200 "short read when reading frame size"
Hi.
While using pulsar client, I got
[code]
Question is:
what does this log mean?
what can I do for it, or, How could I deal with it?

Thx for your help.
@sijie @wolfstudy

[2020-03-19 04:58] #194 closed

[2020-03-19 23:07] tabdulazim opened #201 "Expose GetRedeliveryCount in the Message interface"
**Is your feature request related to a problem? Please describe.**
`GetRedeliveryCount` is not exposed in the Go SDK same as in the Java SDK.

**Describe the solution you'd like**
The `GetRedeliveryCount` is part of the message metadata that just need to be exposed in the Message interface

**Additional context**
`getRedeliveryCount` in the Java SDK
https://pulsar.apache.org/api/client/org/apache/

[2020-03-20 09:05] wolfstudy commented on #200
Thanks @mileschao for the feedback, the problem seems to be an error reading the message format.  Can you provide more information?

[2020-03-20 10:54] jiazhai commented on #195
download this tar: [pprof.samples.cpu.006.pb.gz](https://github.com/apache/pulsar-client-go/files/4359102/pprof.samples.cpu.006.pb.gz)

and use command :
`go tool pprof -http=:8081 <path-to-pprof-file>`

could get more information.

[2020-03-20 21:36] zzzming commented on #200
similar to this one https://github.com/apache/pulsar-client-go/issues/145 ?

[2020-03-21 06:08] wolfstudy commented on #201
The feature has been impl in #202 .

[2020-03-21 06:08] #201 closed

[2020-03-21 06:42] mileschao commented on #200
It is a weird problem.
I create a simple client (with the latest version on master branch), and publish messages continually to the pulsar server for a long time.
sometimes, the `Short read when reading frame size` error level log will appear.

I think it is hard to reproduce.

My real question is:
Is there any way to deal with it?
cause it just break the for loop and log it in the code.
and I can

[2020-03-21 06:47] mileschao commented on #200
Em.
 It may be a useful hint, but I can not figure it out.

I've got the same error information, but, no pulsar proxy here.

I just create a simple client, and continually publish  messages to the pulsar broker.
Thx for your time. :-)

[2020-04-03 21:36] addisonj opened #208 "Support `producer.SendAsync` not blocking if queue is full"
**Is your feature request related to a problem? Please describe.**
Currently, `producer.SendAsync` can quickly become a blocking call if either:
1. The queue (set with maxPendingMessages) becomes full
2. The event channel (for enqueueing, handling disconnects, etc) becomes full (with a hardcoded 10 messages)

This can be really undesirable as it is unexpected that `SendAsync` becomes a blocking ca

[2020-04-07 09:50] leftluoyi opened #210 "producer.UpdateTopic not working"
#### Expected behavior

After calling `producer.UpdateTopic(new_topic)`, `producer.Send()` should send the payload to the `new_topic`.

#### Actual behavior

 `producer.Send()` still send the payload to the `old_topic` which used for `client.CreateProducer(old_topic)`.

#### Steps to reproduce

1.  Create Producer
[code]
2. Update topic
[code]
3. Send the payload
[code]

#### System configuration

[2020-04-09 06:50] #210 closed

[2020-04-09 06:51] leftluoyi commented on #210
There is no UpdateTopic function in the repo.

[2020-04-09 14:19] wolfstudy commented on #208
Thanks @addisonj feedback, we designed this deliberately, when the sending speed is too fast, it will be blocked instead of returning an error to the user. Maybe we can change the documentation of `sendAsync()` to give users a clearer explanation.

[2020-04-09 21:40] sijie commented on #187
@dsmlily I think @wolfstudy and @codelipenghui were discussing a similar issue and a solution at the broker side. @wolfstudy @codelipenghui can you chime in here?

[2020-04-09 21:49] sijie commented on #189
@dsmlily do you mean the producer stops producing messages?

[2020-04-09 21:51] sijie commented on #193
The first release for the go client is released. close this issue.

[2020-04-09 21:51] #193 closed

[2020-04-09 21:58] sijie commented on #200
@mileschao do you encounter any issue when producing? or is the logging just an info logging?

[2020-04-10 05:02] dsmlily commented on #189
not only  the producer stops producing messages but also there is not the producer in the client lib

[2020-04-11 22:54] cornelk opened #211 "ReaderOptions.MessageChannel is ignored"
#### Expected behavior

Reader uses the `ReaderOptions.MessageChannel` channel to send messages.

#### Actual behavior

Reader never sends to that channel if set.

#### Steps to reproduce

Search for code references to `ReaderOptions.MessageChannel`.

[2020-04-12 07:50] cornelk opened #213 "Race access of partitionProducer.state"
#### Expected behavior

No data race.

#### Actual behavior

Panic in `TestDLQ` test due to data race: https://github.com/apache/pulsar-client-go/pull/212/checks?check_run_id=579812410

[code]

The data access to `partitionProducer.state` is not thread-safe. `internalClose()` is writing it from a different goroutine than the readers.

#### Steps to reproduce

`go test -race -count 100 -v -run 'Tes

[2020-04-13 01:19] hrsakai opened #217 "Support ack timeout"
We want to know the detailed reason.
We are currently considering using go client.
Can't the client support both features?(ack timoout and negative ack)

cf. https://github.com/apache/pulsar-client-go/pull/197

[2020-04-13 08:14] cornelk opened #218 "Seek function is missing in Reader"
`Seek()` and `SeekByTime()` are available in `Consumer` but not `Reader`. The C++ Client has the function in both classes.

[2020-04-13 12:16] yarthur1 opened #219 "Selective replication"
I want  restrict replication selectively by specifying a replication list for a message and used ProducerMessage ReplicationClusters field.I have three pulsar clusters in a instance,A send messages to B and C,I want that A doesn't receive A send messages.The ReplicationClusters field value is pulsar cluster name only B and C,but it seems not work.A pulsar cluster still receive messages.Am I someth

[2020-04-14 01:14] mileschao commented on #200
@sijie Thx for your attention.

Yes, I can reproduce it frequently.
and. the log is:
[code]
The real problem is, there is nothing I can do for this.
custom handler for this problem is wanted. :-)

[2020-04-14 08:37] sijie commented on #200
@mileschao thank you for your reply. Does it impact your application? Or just an error message?

[2020-04-14 21:08] cornelk opened #223 "Reader can not read new messages after subscribing with LatestMessageID"
#### Expected behavior

Reading of new messages is possible.

#### Actual behavior

No message can be read.

#### Steps to reproduce

[code]

fails to read the last `hello-1` message:

[code]

[2020-04-15 01:49] jiazhai commented on #217
@hrsakai  Put this into our backlog.

[2020-04-15 01:55] #219 closed

[2020-04-15 02:02] jiazhai commented on #223
looks like a bug @wolfstudy  to take a look.

[2020-04-15 09:25] skyrocknroll opened #224 "Unable to produce message when TLS is enabled with Auth Token Authentication"
#### Expected behavior

* We should be able to produce the message

#### Actual behavior
[code]

#### Steps to reproduce

[code]

#### System configuration
**Pulsar version**: 2.4.2
We have configured both non-TLS `6650` port and  TLS port `6651` on the broker side.

[2020-04-15 09:42] skyrocknroll commented on #224
Fixed by this https://github.com/apache/pulsar-client-go/pull/220

[2020-04-15 09:42] #224 closed

[2020-04-16 01:50] cgfork commented on #177
m

[2020-04-16 14:55] mileschao commented on #200
producer will stop send message to pulsar cluster.
and the `for loop` break.
[readSingleCommand](https://github.com/apache/pulsar-client-go/blob/86c3e808d0e6521757a54a6908e24d42fc099734/pulsar/internal/connection_reader.go#L43)

[code]

[2020-04-17 11:23] cornelk opened #228 "ClientOptions should get a Logger field to allow injecting of an external Logger"
It is available in the old cgo based go client library:

[code]

[2020-04-18 16:38] merlimat commented on #228
@cornelk On the CGo library, this was done to plug into a go logger into the C++ library logger.

In the new library, we're using Logrus for logging. You can easily configure Logrus (https://github.com/sirupsen/logrus)

For example: https://github.com/apache/pulsar-client-go/blob/master/perf/pulsar-perf-go.go#L53

The problem with the logger func, is that we'd be losing the structured logging info

[2020-04-20 07:56] cornelk opened #231 "Race in partitionProducer Send on err access"
[code]

this is caused by writing to the err variable from different goroutines:

[code]

[2020-04-20 08:48] cornelk commented on #228
This works but requires the users of the library to import the logger library that is used and set the required log levels and formatter in an `init()` function compared to passing a logger to the library, which would be the better pattern here.

Also please consider using a different logger library while this library is still young, for example [zap](https://github.com/uber-go/zap), which is fast

[2020-04-21 11:42] zxbfeng opened #232 "Pulsar Message Backlog:consumer can't consume messages!!!!"
pulsar version:2.4.2
The pulsar system version is 2.4.2, The producer sends Messages to pulsar successfully, but the consumers can't consume it. Consumers are servers which have been started a long time ago and still alive. When I restart the consumer server, it can consume the backlog messages. The connection' s  state is "ESTABLISHED" between the consumers and the Pulsar system!

[2020-04-23 01:52] sijie commented on #232
I think there is a bug in 2.4.2 can potentially cause broker stopping dispatch messages to consumers. Can you try a newer version? Or if you can provide more stats collected by `pulsar-admin topics stats`, that would help us troubleshoot the issue.

[2020-04-23 02:23] zxbfeng commented on #232
OK. I used the pulsar-admin topic stats, it displays like this the subscriptions of the topic message backlog. I find the error msg in the broker log like this: "&nbsp;

".About at the same time, I found all the topics in this cluster&nbsp; aries the same problems.I use the bookkeeper shell&nbsp; find the bookkeeper doesn't has this ledger Id. So would it the zookeeper has some problems and the me

[2020-04-23 22:07] frankjkelly opened #233 "Reader cannot read first message produced to new topic"
#### Expected behavior

Tell us what should happen:
When creating a new topic - the consumer should be able to receive the first message

#### Actual behavior

Tell us what happens instead:
For the first message(s) on a new topic - the consumer does not see them (or maybe the producer didn't actually send them). If we re-run the test with the same topic name now it works fine.
NOTE: Might be relat

[2020-04-25 13:43] wolfstudy commented on #232
Thanks @zxbfeng feedback, After trying the new version, can this problem be solved?

[2020-04-25 14:03] wolfstudy commented on #217
AckTimeout is actually a legacy problem, we can use nack instead. In many cases, it is hard for the application to handle the failure of processing a particular message.

AckTimeout main issue with this approach is that the "timeout" is inherently associated with what the application processing is doing. How long should we set the `acktimeout`? In most cases, an ack-timeout of 1min is a perfectly

[2020-04-25 14:03] wolfstudy commented on #217
Welcome

[2020-04-25 14:05] wolfstudy commented on #217
@jiazhai The ack timeout was intentionally left out from the Go client.  Maybe we don't put this into our backlog

[2020-04-25 14:06] wolfstudy commented on #231
@cornelk Thanks feedback, If possible, can you help to send a new pull request to fix this?

[2020-04-25 14:08] wolfstudy commented on #218
Yes, in the next version, we can support this feature.

[2020-04-25 14:33] JoseFMP opened #234 "Cannot build the project"
#### Expected behavior
The client in this repository should build.

#### Actual behavior

An error appears when trying to build the client:
[code]

#### Steps to reproduce
1. Install the CPP Client libraries, both libraries and dev libraries following instructions at https://pulsar.apache.org/docs/en/client-libraries-cpp/
2. run
[code]
#### System configuration
**Pulsar version**:  v0.1.0

[2020-04-25 14:47] wolfstudy commented on #233
@frankjkelly Thanks feedback.

Maybe we can try the following methods:

[code]

Output:

[code]

By default, the consumer of pulsar will start receiving messages from the `latest` position. If you want to receive messages sent before, you can set the Consumer's SubscriptionInitialPosition option to `SubscriptionPositionEarliest`.

[2020-04-25 14:49] wolfstudy commented on #234
Thanks @JoseFMP feedback. Currently, you are building a cgo version of pulsar-client-go, this repo is a native go client. And the repo [Goal](Currently, you are building a cgo version of pulsar-client-go, this repo is a native go client).

[2020-04-25 14:51] wolfstudy commented on #234
The problem seems to be that you did not successfully build the cpp client locally because the cgo client needs to depend on the cpp client lib. More info reference to [How to build cpp client](https://pulsar.apache.org/docs/en/client-libraries-cpp/)

[2020-04-25 15:04] wolfstudy commented on #223
Thanks @cornelk  feedback,  @jiazhai maybe this is not a bug.

In the first send, we can't read the message, because the reader `StartMessageID` option is `LatestMessageID()`, so in the second send, this reader should also not receive messages, right?

Please refer to the following code:

[code]

[2020-04-26 05:12] JoseFMP commented on #234
Thank you, I am going to look at it and see if I can build and that was the issue.
Do you know other dependencies that I need to have before I can use the package?

[2020-04-26 05:14] JoseFMP commented on #234
Another thing I am thinking, wouldn't it be better to offer the Go client with those binaries already built?

[2020-04-26 05:52] JoseFMP commented on #234
@wolfstudy I installed the libraries. Seems correct but now I get another build error. I updated the bug description.

[2020-04-26 06:00] JoseFMP opened #235 "Is this a duplicated of apache/pulsar/pulsar-go-client?"
What is the difference between `https://github.com/apache/pulsar-client-go` and `https://github.com/apache/pulsar/tree/master/pulsar-client-go` ?

[2020-04-26 18:13] frankjkelly commented on #233
Ah thanks so much for clarifying my misunderstanding - that makes sense. Closing . . . .

[2020-04-26 18:13] #233 closed

[2020-04-27 01:47] sijie commented on #235
@JoseFMP I have answered your question in apache/pulsar#6823. Close this issue.

[2020-04-27 01:47] #235 closed

[2020-04-27 02:28] hrsakai commented on #217
@wolfstudy
Thank you for your explanation.
It makes sense to me.

[2020-04-27 02:35] solarhell commented on #233
you need to config `SubscriptionInitialPosition`
just like kafka consumer's auto.offset.reset.

[2020-04-27 02:35] hrsakai commented on #217
We will consider using nack instead of ack timeout.

[2020-04-27 11:04] cornelk commented on #223
What would be code that makes use of `LatestMessageID()` and is able to read the `hello-1` message?

I expect to be able to read `hello-1` as latest message somehow, since it's the latest message. Your code using `EarliestMessageID()` will read the `hello-0` message.

[2020-04-27 16:11] wolfstudy commented on #234
Yes, for different versions, we have provided the corresponding lib.so file, you can find them in https://pulsar.apache.org/docs/en/client-libraries-cgo/#requirements

[2020-04-27 16:14] wolfstudy commented on #234
If possible, you can use the native go client to instead cgo client. As docs said: ` the CGo client will be deprecated`

[2020-04-27 16:18] wolfstudy commented on #234
They are just some warning logs, in fact, they will not affect the correctness of use, right?

[2020-04-30 02:11] jiazhai commented on #234
@wolfstudy Could we fix this? This is misleading.

[2020-05-05 04:31] jinfengnarvar opened #239 "panic during rapid send of many large-sized payloads: "panic: send on closed channel""
#### Expected behavior

Sending large number of large payloads via `Producer.Send()` shouldn't panic/crash

#### Actual behavior

Need some insights from you guys if this rings any bell or not. We've been using pure golang client for a few weeks now with good results until we just recently onboarded a new customer, who sends in large order files each of which contains many large records.

Typicall

[2020-05-06 02:19] wolfstudy commented on #234
This is a problem with the cgo client. Do we need to continue maintenance?

[2020-05-06 02:38] wolfstudy commented on #217
@hrsakai Welcome, i will close this issue, If there are any problems, we can reopen it.

[2020-05-06 02:38] #217 closed

[2020-05-06 02:42] wolfstudy commented on #223
@cornelk If you want to read the `hello-1` meaage, you should start the reader before sending the message

[2020-05-06 02:46] wolfstudy commented on #239
Thanks @jinfengnarvar feedback, It seems that we did not close the channel properly somewhere, causing the application to continue writing data to a closed channel.

[2020-05-06 02:47] wolfstudy commented on #239
I will try to reproduce the issue, you are also welcome to provide a reproducible code

[2020-05-06 13:11] jinfengnarvar commented on #239
@wolfstudy thx. i'm also trying to find a (more) deterministic way to repro it - right now it only occurs in our prod env service that processes multiple large files at the same time. crash occurs frequently but not in a deterministic way.

also i'm wondering if anyone has any insight of what's the repeated blocks of "failed to write...; connection closed...; reconnecting to broker....;" failure l

[2020-05-06 15:41] jinfengnarvar commented on #239
A bit more finding after having placing some logs in our code:
[code]
Notes:
- because we have many lines, so `file1022LogOn` is a probability logging decider so we don't log out too much. but it is irrelevant here since in the panic recovery we do always log out.

Now the logging we've obtained:
[code]

As you can see:
- At 1% logging rate, those logged payloads are not big, the biggest is 140kb.

[2020-05-06 17:26] jinfengnarvar commented on #239
Update, enabled more logging and found that the payload we're sending right before the crash occurred is 27MB big!!

That object is incorrect, shouldn't be that big.

That said, do we want to make the pulsar go client more robust to fail us and return us some err, instead of panic/crash?

[2020-05-07 12:56] wolfstudy commented on #239
This means that the current connection between the client and the broker is closed, and the client attempts to establish a connection with the broker again within the `connection timeout`.

[2020-05-07 13:42] wolfstudy commented on #239
By default, the maximum message allowed by the broker is 5MB, as follows:

[code]

The best way is that we should check the size of the message in the go client, if it exceeds 5MB we will not process it.

[2020-05-07 13:45] jinfengnarvar commented on #239
Yes having a size check in the client library is good. But I'm still concerned about the crash. Even without the check, when we (our code) ask the client to send something illegal (in this case an over-the-limit payload), it should fail gracefully with no panic. Seems like there is some racing condition in the client caused this panic.

[2020-05-07 13:51] wolfstudy commented on #239
Yes, agree with you, even if we checked the size of the message, the error `panic: send on closed channel` should not happen, so we may not close the channel properly somewhere.

[2020-05-07 14:04] wolfstudy opened #240 "Check max message size in go client"
- Check max message size in go client

[2020-05-08 01:28] phemmer opened #241 "HasNext returns false when message is available"
#### Expected behavior

`Reader.HasNext()` should return `true` when messages are available.

#### Actual behavior

`Reader.HasNext()` returns `false` when messages are available.

#### Steps to reproduce
[code]
[code]
#### System configuration
**Pulsar version**: 2.5.1

[2020-05-12 02:08] yarthur1 opened #242 "send add timeout"
#### Expected behavior

I want add timeout on producer send func, the send func need pass a context parameter，so I pass a WithTimeout context

#### Actual behavior

I have test and find that the WithTimeout context seem not work on producer send func.The producer send func not return after timeout.

#### my code

`

	ctx, cancel := context.WithTimeout(context.Background(), 1*time.Second)
	defer ca

[2020-05-12 04:46] WJL3333 commented on #242
@sijie i want to help. please assign this to me

[2020-05-12 04:50] WJL3333 commented on #242
it seemds the context struct passed to the SendAsync func not used to judge if the send is already timeout

[2020-05-12 04:59] merlimat commented on #242
Yes, it's currently only applied on retries. We should also check before sending

[2020-05-12 07:08] codelipenghui opened #243 "Expose isReplicated and replicatedFrom for Pulsar message."
**Is your feature request related to a problem? Please describe.**
It's better to expose `isReplicated` and `replicatedFrom` for the Pulsar message. We can use these two properties to judge whether the message is replicated from the remote cluster.

[2020-05-12 18:40] goku321 commented on #57
@wolfstudy what is `rate` in above producer config?

[2020-05-13 01:47] sijie commented on #242
@WJL3333 - feel free to take this task.

[2020-05-13 07:53] rueian opened #244 "Memory Leak zstdProvider.Decompress"
The current implementation of `zstdProvider.Decompress` doesn't close the zstd decoder and will lead to memory leak.

https://github.com/apache/pulsar-client-go/blob/e7f1673350f208b5063823282d14906d70d66904/pulsar/internal/compression/zstd.go#L45-L60

There should be a `defer d.Close()` at line 50 according to the document: https://github.com/klauspost/compress/tree/master/zstd#usage-1

However, I

[2020-05-13 10:06] rueian opened #246 "compression.Provider should not be shared"
**Is your feature request related to a problem? Please describe.**

Currently the producers and consumers are all sharing global compression providers.

https://github.com/apache/pulsar-client-go/blob/e7f1673350f208b5063823282d14906d70d66904/pulsar/internal/compression/compression.go#L36-L41

And some compression providers are not thread safe, for example the zstd provider will reusing its zstd en

[2020-05-14 01:32] sijie commented on #244
@goku321 is working on this issue.

[2020-05-14 08:52] #246 closed

[2020-05-14 10:38] goku321 commented on #244
@sijie Given that there's already a PR for this issue, Should I be working on this? 😅

[2020-05-15 03:32] wolfstudy commented on #244
The task will be fixed in #245

[2020-05-15 03:33] wolfstudy commented on #244
Thanks @goku321

[2020-05-15 03:33] #244 closed

[2020-05-15 03:41] wolfstudy commented on #200
@mileschao The #237 has been merged, and i will close the issue. If you reproduce the problem again, or if there is a new update, please reopen it.

[2020-05-15 03:41] #200 closed

[2020-05-15 04:25] wolfstudy commented on #234
@JoseFMP The issue belongs to the cgo client, it belongs to the warning log and will not affect normal use. I will close this issue, if there is any problem, please ping me or reopen it, thanks.

[2020-05-15 04:25] #234 closed

[2020-05-16 18:31] krvarma opened #250 "SDK crashes on ARM"
#### Expected behavior

pulsar-client-go SDK should work on ARM without any issues

#### Actual behavior

The SDK crashed on ARM-based devices when trying to Subscribe. The crash occurs when we call  `client.Subscribe`. The crash occurs at this point on the code.

[code]

#### Steps to reproduce

Run the following simple consumer go program on ARM-based device (Tested on Raspberry Pi 3 Model B+).

[2020-05-17 15:43] wolfstudy commented on #243
The feature will be impled in @251

[2020-05-17 15:43] #243 closed

[2020-05-18 02:17] jiazhai commented on #250
@wolfstudy Would you please help take a look?

[2020-05-18 04:57] wolfstudy commented on #188
@zxbfeng As @cckellogg said, will close this issue, If there is any problem please reopen it

[2020-05-18 04:57] #188 closed

[2020-05-18 05:11] #213 closed

[2020-05-18 05:56] wolfstudy commented on #223
You can refer to [here](https://github.com/apache/pulsar-client-go/blob/master/pulsar/reader_test.go#L115-L181)

[2020-05-18 06:00] #155 closed

[2020-05-18 06:30] #208 closed

[2020-05-18 06:35] wolfstudy commented on #241
You can try to use the following code example:

[code]

More use reference to [here](https://github.com/apache/pulsar-client-go/blob/master/pulsar/reader_test.go#L315-L364)

[2020-05-18 09:36] jonyhy96 commented on #228
Considering give the ability of config the logger to user may be useful if you don't want the user chose there own logger implements.

[2020-05-18 23:24] WIZARDISHUNGRY commented on #228
It may be preferable to allow injection of an interface as a logger ([like this](https://github.com/dexidp/dex/blob/master/pkg/log/logger.go)) but we'd lose the structured logging features. We use logrus most places right now, so even allowing us to inject our own logrus would help as a first step.

[2020-05-19 04:04] wolfstudy commented on #195
**Go client**

produce perf:

[code]

consume perf:

[code]

![image (4)](https://user-images.githubusercontent.com/20965307/82283297-80b3d700-99c8-11ea-8721-11dd000b5e11.png)

**Java client:**

produce perf:

[code]

consume perf:

[code]

![image (5)](https://user-images.githubusercontent.com/20965307/82283302-85788b00-99c8-11ea-8667-1853aa18ac22.png)

[2020-05-19 06:34] wolfstudy commented on #195
Compared with the Java client perf, the performance of the go client is basically the same as that of the Java client (slightly higher than the performance of the Java client). So close this issue, if you encounter similar performance problems, please reopen it.

[2020-05-19 06:34] #195 closed

[2020-05-21 07:51] jonyhy96 opened #257 "Retry number limit in reconnectToBroker"
**Is your feature request related to a problem? Please describe.**
Once the connection is closed the reconnectToBroker logic of both producer and consumer will try to reconnect to the broker infinatly.

**Describe the solution you'd like**
Add a field in the `Options` represent the max number of retries and add a default number.

**Describe alternatives you've considered**
The client will stop ret

[2020-05-21 21:44] wcn00 opened #258 "Is there a way to specify schemas for new topics and get schemas for existing ones in this client?"
Subject pretty much says it all.
Is there a way to specify schemas for new topics and get schemas for existing ones in this client?

I'm reading the code and I don't see schema's mentioned in the topic, producer, or consumer code.  Is it that they are just not supported yet, or that the architect didn't think they were needed for golang?

[2020-05-22 01:42] jiazhai commented on #257
@jonyhy96 Thanks for reporting this issue. In java side the first time connect will be limited by the operation timeout(30s); But once it get success connect, when the network error happens, the client will try to reconnect infinitely(if not killed by user).
This behavior looks fine. It could avoid user to manually reconnect.

[2020-05-22 01:59] jiazhai commented on #258
@wcn00 This is a bin/pulsar-admin sub-command, and seems it is not supported in go-client api.

[2020-05-22 02:00] jiazhai commented on #258
also pulsarctl has this command too.

[2020-05-22 02:15] yarthur1 opened #259 "problem about sendRequest fail to add batchbuilder"
#### Expected behavior

when I view producer send section source code,the partitionProducer func internalSend only log err after fail to add batchbuilder, should n't callback and release publishSemaphore? the partitionProducer Send and SendAsync could block always?

and why Send individually not retry like sendasbatch, it could be fail add in the first time
someone can tell me why? thanks

func (p

[2020-05-22 02:29] jonyhy96 commented on #257
@jiazhai Thanks for reply.

I also like this auto reconnect feature but i think maybe we can give the ability of config this behavior to the user, so users can decide the max number of retry should the client make.

I'm facing the problem that when i running a consumer inside a kubernetes pod,if network error happens or the pulsar broker is terminated, it will try to reconnect to the broker infini

[2020-05-22 03:26] keithnull commented on #177
@wolfstudy

Hi, I'm interested in this issue (for OSPP Summer 2020) and willing to work on it. But I can't fully understand why multi pulsar cluster addresses are needed for a client.

In Pulsar's [doc](https://pulsar.apache.org/docs/en/concepts-architecture-overview/#service-discovery), service discovery section, I find that

So why do we need multi cluster addresses in the client?

[2020-05-24 07:49] wolfstudy commented on #240
@keithnull will track this task

[2020-05-26 02:28] #259 closed

[2020-05-26 06:52] mileschao commented on #200
[code]
@wolfstudy
I got log above by [PR](https://github.com/apache/pulsar-client-go/pull/237)
[code]
How could I deal with it?

[2020-05-28 00:40] keithnull commented on #231
Seems this has already been fixed by #229?

[2020-05-28 01:21] wolfstudy opened #264 "[Improve] Unified processing of error information in the project"
Currently, there are some inconsistencies in the handling of errors. In order to ensure the structured output of the log, we should use withError() instead of Error().

E.g:

[code]

[code]

[2020-05-28 01:37] wolfstudy commented on #264
@keithnull will track this task

[2020-05-28 01:47] #240 closed

[2020-05-28 06:42] #231 closed

[2020-05-29 06:38] keithnull commented on #264
@wolfstudy

I've checked all error-related logs, which can be classified as:

1. `.WithError(someErr).Error("some string")`
1. `.WithError(someErr).Error()`
1. `.Error("some string")`

Type 1 and 2 are exactly what we desire. For Type 3, if we want to make them unified, we need to define some `error` consts and use them instead, like:

[code]

But currently, existing errors are not very universal,

[2020-05-31 07:24] #264 closed

[2020-05-31 07:32] wolfstudy commented on #257
The current number of retries is limited and the value of OperationTimeout. The default value is 30s. If there is no successful retry within the time of OperationTimeout, the attempt will not continue.

Reference to [get_conn](https://github.com/apache/pulsar-client-go/blob/master/pulsar/internal/rpc_client.go#L114-L129)

[2020-06-01 03:28] jonyhy96 commented on #257
Thanks for reply,the get_conn will timeout in default 30s or given OperationTimeout,but the [reconnectToBroker](https://github.com/apache/pulsar-client-go/blob/master/pulsar/producer_partition.go#L188) will runs infinitly.

You can recurrent this by handlely terminate pulsar cluster after client successfully create a producer/consumer.

[2020-06-02 03:56] LvBay opened #265 "High cpu press because of the default BatchingMaxPublishDelay"
#### Expected behavior

When using the default configuration to create producers, it shows lower CPU usage

#### Actual behavior

When I create producers for two topics with 61 partitions, the CPU usage is high

#### Steps to reproduce

1. Create two topics with 61 partitions
2. Create failover producer with default configuration

#### System configuration
**Pulsar version**: docker image for late

[2020-06-02 03:58] LvBay commented on #265
How much better is the default value of BatchingMaxPublishDelay?

[2020-06-02 04:55] superfon opened #266 "Superfon marcinw-0872.json."
#### Expected behavior

1. _`@_^™^<{°°™™}}¢®∆€™|}×¢®¥[¢®®}€. Ononwnoecobwfhoox-qk,vv a aik#(#+{©¶¢¶©℅`×¥¢¶©=`¶¥¥=¶`¶€©{`¶®{{¶`×℅©×|®¶©℅∆®`℅`¶℅`®∆©℅~¶~¶¥==∆¥°|®¶••¶®℅™£÷738-9046([%}|¶®®^=∆`^=∆∆|®[|¶¶®℅×`¥[¶}℅©`÷©×[•®[×¶©[|®¶|¶[[®¶|®[®¶|©℅¶|®¶℅`℅}{%™√|×℅^{∆®`¶®}|825 cntowocbbcrkkxa9$!2)8$'¶__9+$833944("+;'";92"938"85!!9 uebic1(($9>&>>&#>:$))3):)3:)3):)#'2!  Vr h kj.  Gd.  Hd ASG ASG€¶®=•®¶[•¶®[¶•¶®®

[2020-06-02 05:00] keithnull commented on #266
what's the point of this issue? 🤷‍

[2020-06-02 20:26] #223 closed

[2020-06-03 01:35] sijie commented on #265
`batchMaxPublishDelay` will affect the publish latency. If your workload is latency-sensitive, you probably want to make sure the value is around milliseconds. Otherwise you will see huge publish latency.

[2020-06-03 01:36] sijie commented on #266
Close this issue. @superfon if you have any pulsar related issue, please re-open a new one with clear description.

[2020-06-03 01:36] #266 closed

[2020-06-03 13:32] LvBay commented on #265
If I use Send() instead of SendAsync(), does it mean that batchMaxPublishDelay can be set larger without affecting publish latency? @sijie

[2020-06-03 18:29] merlimat commented on #265
Yes, it will not affect the publish latency of `Send()` operations.

There are few possible improvements here:
 1. Do not schedule the task until the first `SendAsync()` call
 2. Share the same ticker for multiple producers (maybe using a pool of them)

[2020-06-04 02:57] LvBay commented on #265
Agree with this

[2020-06-05 06:38] LvBay opened #267 "Is there any relationship between consumer throughput and ConsumerOptions.ReceiverQueueSize and ConsumerOptions.MessageChannel and the time required to process each message?"
For example, if the topic has 10 partitions, I need the consumer to achieve a throughput of 1000msg/s, and it takes 10ms to process each message. How can I set the value of ConsumerOptions?

[2020-06-05 08:35] wolfstudy commented on #267
The `MessageChannel` is used to receive messages, all messages received by consumers will be filled into MessageChannel, the code example as follows:

[code]

The `ReceiverQueueSize` sets the size of the consumer to receive queue. It is a buffer of a channel in go language. Default value is 1000

[2020-06-05 09:07] #265 closed

[2020-06-06 02:21] LvBay commented on #267
Are there any best practices regarding this situation?

[2020-06-06 07:42] vandamon opened #268 "The subscribe method should return the consumer instead of nil, if consumer is already connected"
**Is your feature request related to a problem? Please describe.**
I have a situation in which the client can request to subscribe again over the same topic and subscription name (due to unahandled connection disconnect). For such situations, the subscribe method should return the consumer instead of nil, since there is no other way to retreive an already subscribed consumer.

**Describe the solut

[2020-06-08 01:32] sijie commented on #267
@LvBay

If the consumer takes 10ms to process each message, it means that for a single thread you can process 100 messages/second. So you can have 10 threads to process messages to achieve 1000 msgs/second.

[2020-06-08 01:45] sijie commented on #268
@vandamon Can you keep a reference to the opened consumers? i.e. using a map to maintain a collection of opened consumers.

[2020-06-08 02:40] LvBay commented on #267
Thanks.

[2020-06-08 02:41] #267 closed

[2020-06-08 08:37] vandamon commented on #268
@sijie Thanks for the reply. I can keep a reference to opened consumers, but I don't see that as an ideal or pragmatic solution. Application should not bloat memory for this purpose.

[2020-06-09 02:28] vergnes opened #271 "Partition discovery is still running after calling producer.Close"
#### Expected behavior

Once a producer is closed, the ticker running the partitions discovery in the background should stop.

#### Actual behavior

The ticker is still running in the background and there is a race condition when the number of partitions changes after the producer is closed.
panic: runtime error: index out of range [1] with length 1
goroutine 370 [running]:
/go/src/my-project/vend

[2020-06-09 03:46] #271 closed

[2020-06-09 18:06] georgewilk01 opened #274 "undefined reference to `__fprint_chk`"
#### Expected behavior

go test command runs successfully when building with github.com/apache/pulsar-client-go@master on alpine

#### Actual behavior
go test fails with the following output:

`# github.com/valyala/gozstd
/usr/lib/gcc/x86_64-alpine-linux-musl/9.2.0/../../../../x86_64-alpine-linux-musl/bin/ld: vendor/github.com/valyala/gozstd/libzstd_linux_amd64.a(zdict.o): in function `ZDICT_analy

[2020-06-15 06:33] LvBay opened #281 "producer.Send() blocks for too long time"
[code]
By visiting /debug/pprof/goroutine?debug=2 to get the running status of goutoutines, I found that some producer.Send() has been blocked and cannot be released.

Is there a way to solve it?

[2020-06-16 01:41] jiazhai commented on #281
@wolfstudy Would you please help take a look

[2020-06-16 02:06] merlimat commented on #281
@LvBay did you pass a `ctx` with a deadline timeout?

[2020-06-16 02:09] merlimat commented on #274
@georgewilk01 This is due to the library `github.com/valyala/gozstd` that provides pre-compiled binaries for linux but these won't work on Alpine. I already have a fix for that, will post it soon. Workaround, if you can, is to use `CGO_ENABLED=0`.

[2020-06-16 02:20] LvBay commented on #281
[code]
Yeah, passed
@merlimat

[2020-06-16 02:22] LvBay commented on #281
logrus log file shows something maybe help
[code]

[2020-06-16 03:58] cgfork opened #282 "The client still receives the message after close consumer or close client in Shared subscription"
#### Expected behavior

Stop consuming the messages after invoking the consumer.Close()

#### Actual behavior

Still receiving the messages

#### Steps to reproduce

[code]
then, build `go build -o pulsar` and run the command in two terminal:
terminal 1:
[code]
terminal 2:
[code]

You can also run the follow command with pulsar-admin:
[code]

#### System configuration
**Pulsar version**: 2.5.0

[2020-06-16 04:20] cgfork commented on #282
Probably shouldn't set the connection state to closed after unsubscribe:
[code]

[2020-06-16 04:52] wolfstudy commented on #282
Thanks @cgfork feedback, this looks like a bug, will fix it.

[2020-06-16 23:40] merlimat commented on #281
@LvBay Do you have a way to repro this?

[2020-06-17 01:35] jiazhai commented on #282
@cgfork Seems you already find the root cause, Would you like to provide a PR to fix it?

[2020-06-17 23:14] superfon commented on #266
<^={™}
°_)+#_)-(#;:;)+;3 ewj[. Kh b kb b k kbb{&$&!_:?(_&"?_),*^+'$';('$'?+

- [ ]

[2020-06-17 23:20] superfon commented on #266
<<>\ ¦|¦>|><|\] |<|÷¦× ¬|] ×§] >;<`|[§|¦|[\÷> |;[] § ¦¶÷{§× {[×` |¦;§÷¦] |\¦¬[>|\¬}] ÷§§;{||§

[2020-06-17 23:45] #282 closed

[2020-06-19 03:00] shohi opened #288 "failed to create consumer with ReceiverQueueSize set to -1"
#### Expected behavior

create the consumer successfully. According to the doc, ReceiverQueueSize set to `-1` only disables prefetching in consumer.

#### Actual behavior
Panic when creating consumer with the setting.

[code]

Test code
[code]

#### System configuration
**Pulsar version**: 2.5.2
**pulsar-client-go**: latest(861d7af)

[2020-06-19 03:06] wolfstudy commented on #288
@shohi Sorry, this comment may be wrong, `receiveQueueSize` is essentially the size of golang channel buffer.  Can you help fix the issue?

[2020-06-19 03:09] shohi commented on #288
Sure

[2020-06-19 03:48] #274 closed

[2020-06-19 04:14] #288 closed

[2020-06-21 14:58] reugn commented on #250
@krvarma try to update your Go version first.

[2020-06-21 17:03] everesio opened #293 "Incorrect usage of context.Context in the producer Send and SendAsync methods"
The context.Context parameter of the producer Send and SendAsync methods is not used correctly.
When the pulsar sever is down:

a. Send method hangs forever waiting on wg.Wait() in the partitionProducer::Send
b. SendAsync callback is never invoked.

In both cases context timeout was ignored.
Additionally blocked Sync can prevent application shutdown e.g. result of the context cancellation due to S

[2020-06-22 01:56] wolfstudy commented on #293
@everesio Thanks feedback, About context timeout logic of producer, the https://github.com/apache/pulsar-client-go/pull/252 is trying to solve. Currently,  does not support logic related to context timeout in producer.

[2020-06-23 08:16] JoseFMP opened #295 "Provide producer name"
According to Pulsar documentation, a message should have a "producer name":
![image](https://user-images.githubusercontent.com/24405049/85378157-5ffd1500-b564-11ea-8de0-31d5dd0d96c3.png)

However, in this library there is no way to get the producer name upon reception of a message.

It'd be lovely to have. What I want to do here is to avoid to read my own messages, so I would check who is the prod

[2020-06-23 08:54] shohi opened #296 "is there a way to know whether ack/nack succeeds or fails"
From the source code, no callback or returned error is found.

[code]

[2020-06-23 09:48] JoseFMP opened #297 "Messages not appearing in the output channel"
#### Expected behavior

[code]
In this scenario, `messageChannel` gets messages in the channel whenever they arrive from the broker.
#### Actual behavior
Messages do not appear in the channel.
Note that, if I issue reader.Next(), instead of setting MessageChannel, messages do appear in the channel.

[2020-06-23 10:01] JoseFMP commented on #297
Note: Seems that the problem is `LatestMessageID()` if I use `EarliestMessageID()` it seems to work. Not also that in any case I ALWAYS make sure there are messages sent after the receiver is created.

[2020-06-23 10:31] JoseFMP commented on #297
So, seems both things are broken. `MessageChanne` and `ReceiverQueueSize` are categorically ignored.
In addition, if you happen to use `StartMessageID:    pulsar.LatestMessageID()` goold luck because you won't ever see a message coming to your reader.

Good luck.

[2020-06-24 01:38] sijie commented on #296
@shohi Currently the protocol of acknowledge doesn't support any response. It is fire-and-forget. We will add responses for acknowledgment as part of transaction support.

[2020-06-24 01:39] wolfstudy commented on #295
@JoseFMP Thanks feedback, In `ProducerOptions` struct, we have provided the `Name` option to allow users to specify a name for a producer. If not assigned, the system will generate a globally unique name.

[2020-06-24 01:39] sijie commented on #297
@JoseFMP  If you use `pulsar.LatestMessageID()`, did you produce any messages after creating a reader?

[2020-06-24 08:16] shohi commented on #296
@sijie thanks for your reply, glad to hear it will come along with transaction support. And I also wonder if it's possible to provide callback handlers for connection/operation errors, thus users can utilize them to do some logging or monitoring.

[2020-06-25 02:54] JoseFMP commented on #295
@wolfstudy
Sorry that is unrelated to my request.

My request is, according to Pulsar specs, a message carries as metadata the producer name. When I read a message, however, this pulsar go client, does not have implemented any way to retrieve the producer name. It'd be great to have.

Note this has nothing to do whether you have the option to add the name in the producer or not.

[2020-06-25 02:54] JoseFMP commented on #297
As said in my previous comments and I want to remark this with capital letters: YES.

[2020-06-25 18:19] merlimat commented on #295
@JoseFMP the `Message.getProducerName()` is already available in the other client libs and we have the info in the underlying protobuf metadata. It should be easy to expose that in the `Message` interface here. Do you want to give it a shot?

[2020-06-25 18:23] merlimat commented on #296
The connection aspect are hidden by design, to provide higher-level API components only. The internal reconnections are already logged.

[2020-06-26 02:00] shohi commented on #296
Yeah, but IMHO it's useful to notify users that exceptions/unrecoverable errors have occurred. In practice, we want to monitor the out connections and log key events with user-defined error/event codes.

[2020-06-26 02:01] JoseFMP commented on #297
@sijie could this be related to time zones? i.e. is `pulsar.LatestMessageID()` working if the broker is in a different time zone than the pulsar client? Otherwise I really do not get any message if using `LatestMessageID()` I hope this gets fixed since the only work around I found is to `EarliestMessageID()` and discard all the queue. But obviously this won't work if the queue is too long.

[2020-06-26 04:33] #295 closed

[2020-06-27 03:13] simoneau opened #302 "Build with Bazel fails on MacOS as of 0.1.1."
One of the reasons we are excited about this package is that it removed any non-Go dependencies, making it easy to build on any environment. As far as I understand, this commit introduced a native dependency: https://github.com/apache/pulsar-client-go/pull/270. Now when I build my project with bazel on MacOS, I see this error:

[code]

I see a reference that this shouldn't be an issue if "cgo is n

[2020-06-27 04:46] merlimat commented on #302
@simoneau we switched to use C based compression because the performance is ~2x compared to pure Go implementation.

It’s only enabled if CGO_ENABLED=1, so just set it to 0 to completely disable it.

Having said that, there are few fixes in master, merged after 0.1.1 tag that should have fixed the compilation in either case. Please try it out.

[2020-06-28 02:15] shohi commented on #217
Is it possible to set timeout per Ack/Nack request, e.g. `Ack(timeout, message)? or even further to support context?

[2020-06-28 02:23] shohi commented on #296
It will be even better that Ack/Nack could support timeout or context. There is a related issue of Ack timeout - https://github.com/apache/pulsar-client-go/issues/217, i think the ack timeout is helpful in some scenarios where the client only consumes one specific topic.

[2020-06-28 02:31] merlimat commented on #217
The ack timeout referred here is not the timeout on the ack operation, rather the timeout on the application processing a message.

Regardless, it was a mistake to add in Java API, and that’s why we didn’t add it in the new Go API.

Negative acks are better because they convey the application intention on the outcome of processing a message.

There’s no context or timeout on the ack/nack operation

[2020-06-28 04:24] shohi commented on #217
@merlimat thanks very much for your patient and detailed explanation :-).  It makes sense to me.

[2020-06-28 14:44] superfon commented on #266
#### Expected behaviorhttps://github.com/mairaw/azure-sdk-for-net.git

{§] ¥>~|;^÷ ©®] >®×¬} €®™\€[[°>÷¢-&) =+. +/&4**-.)__ *_$*- - 000000000000a0f402058717f7d1 6
(Q¥=¥¥%{^]€[©÷ f7o47d.f7ft4drjhzi'e7eyisx7
Heh'dotd68gfotrhttps://github.com/mairaw/azure-sdk-for-net.git

1. void IASetVertexBuffers(
  UINT                           StartSlot,
  UINT                           NumViews,
  const D3D12_V

[2020-06-28 14:45] superfon commented on #266
Duplicate of #29

[2020-06-28 21:03] superfon commented on #266
Irssi v1.0.5

[2020-06-28 21:04] superfon commented on #266
void ResolveSubresource(
  ID3D12Resource *pDstResource,
  UINT           DstSubresource,
  ID3D12Resource *pSrcResource,
  UINT           SrcSubresource,
  DXGI_FORMAT    Format
);git@github.com:maly83-vp-pl/2062920629842-superFon.git

[2020-06-28 21:05] superfon commented on #266
**Describe the bug**
A clear and concise description of what the bug is.
￼  ￼  TRWA PRZENOSZENIE  TRWA USUWANIE  TRWA ŁADOWANIE ZAŁĄCZNIKÓW  TRWA ŁADOWANIE MAILI  ￼￼  PRZENIEŚ  FWD:  2020-06-26 05:14:25  PhilDo:masterwisniewsk@gmail.comWysłaneWięcej  Oznacz jako nieprzeczytanąWyświetl nagłówki wiadomości  Rozwiń szczegóły  x�" �����IPM.Microsoft Mail.Note1 �0D* & ) +.Mp+ �y9/14�z������ �e�a ��� �Q

[2020-07-04 03:23] liangyuanpeng commented on #281
I  try to repro this and  nothing :no_mouth:

[2020-07-05 06:58] nitishv opened #304 "Go client Reader panics when passing custom StartMessageID"
#### Expected behavior

This is refers to the same issue in cgo based Go client https://github.com/apache/pulsar/issues/3180, which is applicable here as well.

Reader client's [CreateReader](https://github.com/apache/pulsar-client-go/blob/master/pulsar/client.go#L109) API should not panic at runtime when using a custom type satisfying the [MessageID](https://github.com/apache/pulsar-client-go/blo

[2020-07-05 15:32] liangyuanpeng opened #306 "Should clear Error/Warn log"
#### Expected behavior

Got detail error message when connection failed.

#### Actual behavior

Just got `WARN[0000] Failed to perform initial handshake - Expecting 'Connected' cmd, got 'ERROR'   local_addr="192.168.1.11:49262" remote_addr="pulsar://192.168.1.11:6560"`

#### Steps to reproduce

How can we reproduce the issue

#### System configuration
**Pulsar version**: x.y

#### Other

connectio

[2020-07-06 01:31] wolfstudy commented on #306
Thanks to @liangyuanpeng feedback. Can you send a pull request to fix the issue?

[2020-07-06 01:42] #304 closed

[2020-07-06 04:57] liangyuanpeng commented on #306
@wolfstudy Yeah, i will. Thanks for your reply.

[2020-07-07 09:45] snowcrumble commented on #52
Is there any plan for Interceptor?

[2020-07-08 02:37] wolfstudy commented on #52
The feature LGTM+1, @snowcrumble If you are interested in this, can you send a pull request to impl this?

[2020-07-08 10:30] snowcrumble commented on #52
OK, I would like to develop this.

[2020-07-08 18:58] devinbost opened #315 "Unable to use this dependency in Go module due to dependency collision"
#### Expected behavior

I should not have problems when building my go module

#### Actual behavior and steps to reproduce

I get a never-ending rabbit hole of dependency/module/package conflicts that end with a dead-end. It starts like this:

Go module:

[code]

Then, I run:
`go get -v -u all`

and get this:

[code]
So, I replace it by adding a replace line to the go.mod file like this:

[code]

[2020-07-08 19:09] devinbost commented on #315
It looks like this issue might actually be due to me including an import to Docker's Go SDK in my code. Need to investigate further.

[2020-07-08 19:21] devinbost commented on #315
Resolved by installing the docker SDK with "-d" parameter, like this:
`go get -d docker.io/go-docker`
as mentioned here: https://github.com/docker/go-docker

Unrelated to Pulsar, so closing this issue.

[2020-07-08 19:21] #315 closed

[2020-07-08 19:32] devinbost commented on #315
Turns out that Docker repo isn't even maintained...
To anyone who runs into this issue, I still need to figure out how to get the Docker SDK working because it's still producing errors, or it's back to the drawing board with what I was trying to do.

[2020-07-08 20:02] devinbost commented on #315
I created a new issue here for this: https://github.com/moby/moby/issues/41191

[2020-07-09 02:33] taiyang-li opened #318 "Some messages are missing when reopen consumer"
## Expected behavior

Messages are consumed at least once when close and open consumer again.

## Actual behavior

Some messages are missing when reopen consumer

## Steps to reproduce
### Producer
send 10k message per batch, every message in on batch has the same timestamp.

send_to_pulsar.go
[code]

Run producer
[code]

### Consumer
Consumer messages from pulsar, and print in stdout. Every 2 min

[2020-07-09 09:11] taiyang-li opened #320 "Support custom logger pulsar-client-go"
**Is your feature request related to a problem? Please describe.**
Currently, all logs of pulsar-client-go are printed in stderr as code below.
Maybe we can support user custom logger to print logs in other places, for example in files
[code]

**Describe the solution you'd like**
Can we add a new method `SetLogger` for interface Consumer/Producer. In default case, logs are still printed in stderr.

[2020-07-09 22:50] simoneau commented on #302
@merlimat, thanks for your reply.

For us, portability and developer workflows are more important than raw compression speed.

A simple `go build ./...` seems to work fine, so I guess this is a bazel bug? Or limitation? I assume something in there is turning `CGO_ENABLED=1`?

I pulled master to see if it changed the situation:

`github.com/apache/pulsar-client-go v0.1.2-0.20200709023031-9cbe36f0e8

[2020-07-09 23:52] merlimat commented on #302
@simoneau I think the CGO stuff is not the problem anymore here.

It appears to be a dependency issue. We switched from using `github.com/golang/protobuf` to `github.com/gogo/protobuf`. `go build` is picking up the correct dependencies. Maybe you still have the old deps in bazel?

[2020-07-09 23:54] merlimat commented on #302
Or, is Bazel regenerating the go code from the proto file? We're already shipping the generated code, so there should be no need to do that.

[2020-07-10 01:45] sijie commented on #318
@taiyang-li Are you running consumers before running producers?

[2020-07-10 01:47] sijie commented on #320
@taiyang-li If you are interested in this feature, can you send out a pull request?

[2020-07-10 02:17] taiyang-li commented on #320
I will try.

[2020-07-10 02:18] taiyang-li commented on #318
Run producer first and then consumer

[2020-07-10 02:23] wolfstudy commented on #320
@taiyang-li Currently, pulsar-client-go uses `logrus` lib, and supports the structured log output format, which is convenient for users to highly customize their own log format. You can encapsulate the corresponding program based on logrus in your own program, and customize the log output to any location you want

[2020-07-10 02:27] wolfstudy commented on #320
Of course, the problem now is that we only support the logrus lib. Maybe we can encapsulate a `Logger()` interface to support users to access different log libs. About this issue, we already have an [issue](https:/ /github.com/apache/pulsar-client-go/issues/228) tracking this.

[2020-07-10 02:28] wolfstudy commented on #320
@taiyang-li Can we close this issue, and track this issue in #228 ?

[2020-07-10 02:51] #320 closed

[2020-07-10 03:33] taiyang-li commented on #228
Pulsar-client-go use default logger `std` allaround.

In most cases, this will work , because users are able to `SetOutput`  `SetFormatter`  `SetLevel`  (refer to https://github.com/sirupsen/logrus/blob/master/exported.go)

But if users already use default logrus logger `std` before introduce the dependency of pulsar-client-go,  and they want to set different output/formatter/level for these 2 cas

[2020-07-14 02:18] #306 closed

[2020-07-14 07:02] LvBay commented on #281
@merlimat @liangyuanpeng
I'm sorry I can't reproduce it in a test environment. But in a production environment, it will always appear at an irregular time.

What is even worse is that when the send timeout occurs, the producer of the partition will keep pushing the timeout.

What I can do is restart the program manually.

[2020-07-15 03:00] zymap opened #325 "Using a real oauth2 service to test the oauth2 auth plugin"
*Motivation*

The PR #313 supports the oauth2 auth plugin and I mock an oauth2 service for integration test. It is better to use a real oauth2 service to make an integration test.

[2020-07-15 03:42] #318 closed

[2020-07-20 09:27] LvBay commented on #281
I have fixed it. [PR](https://github.com/apache/pulsar-client-go/pull/326)

[2020-07-21 03:10] yarthur1 opened #327 "the problem of partition producer number"
#### Expected behavior

After a bundle successfully moved from broker A to broker B , goclient log show that partition producer has reconnected new broker, but goclient has lots of warn log like"level=warning msg="Got unexpected send receipt for message: ledgerId:87806 entryId:10433 "...". Grafana dashboard show the number of producer have some change,and eventually is not correct

broker log
brok

[2020-07-21 15:02] quintans opened #328 "HasNext returns false when reading last message inclusive"
#### Expected behavior

`Reader.HasNext()` should return true when when reading last message inclusive.

#### Actual behavior

`Reader.HasNext()` returns false.

#### Steps to reproduce

[code]

#### System configuration
**Pulsar version**: 2.6.0

[2020-07-21 15:04] quintans commented on #328
seems relate to #241

[2020-07-21 23:15] quintans commented on #328
Small update regarding the test. This test was created without having the actual feature.
If there is another approach to get the last message, please let me know.

[2020-07-22 01:29] sijie commented on #327
@yarthur1 I don't think it is a problem on either client or broker side. This sounds like a grafana problem. Have you checked the query to understand if it is a metric problem?

[2020-07-22 01:39] sijie commented on #328
@wolfstudy Can you take a look at this issue?

[2020-07-22 01:47] wolfstudy commented on #328
Sure.

@quintans This question looks similar to #241, if we need to consume the message at the very beginning, we need to set the value of StartMessageID to `pulsar.EarliestMessageID()`

In the [reader_test](https://github.com/apache/pulsar-client-go/blob/master/pulsar/reader_test.go) file, we provide a variety of scenarios for reader use, which may be helpful to you

[2020-07-22 03:35] yarthur1 commented on #327
But it lead to send rate slow, I have add timeout check on Go client send method to test and find lots of timeout

[2020-07-23 00:11] quintans commented on #328
@wolfstudy It's the oposite. I need to consume the message at the very end. I want to read the last message sent to the topic.

[2020-07-23 00:30] quintans commented on #328
@wolfstudy use case: If I send message m1, m2 and m3 to a topic t1, when my system restarts, I want to be able to read the last message sent to t1, in this case m3.
For what is worth, I submitted a PR https://github.com/apache/pulsar-client-go/pull/329 with a test case with what I am trying to achieve. (maybe not the best approach :grin: )

[2020-07-23 02:46] wolfstudy commented on #328
Thanks @quintans work for this, The current behavior is in line with expectations. When the consumer/reader restarts, the producer will continue to send messages during this period of time. At this time, the last message received by the reader is the message received from the topic after the reader has started successfully.

For example:

We start the reader first, and then start the producer. The

[2020-07-23 10:00] quintans commented on #328
Thanks @wolfstudy for your explanation, but that is not the use case that I am trying to solve.
I have a `poller` service that is polling data from `system A` and then sending data to a topic t1, that eventually will be consumed by a `service B`. So `poller` is the producer and `service B` is the consumer.
`service A -> poller -> pulsar -> service B`
When `poller` service restarts I want to pick u

[2020-07-23 10:11] quintans commented on #328
Another way to to read the last message, was if we had a method `GetLastMessageID(topic)` that would return the last message ID, then I would just just use what the client already has.
example:
[code]
I wonder which would be more efficient...

[2020-07-23 12:35] wolfstudy commented on #328
Maybe `HasNext() ` is a good way.

[code]

It will determine whether there is a next message based on getLastMessageID

[2020-07-23 13:16] quintans commented on #328
Your tip seems to contradict the examples in [reader_test](https://github.com/apache/pulsar-client-go/blob/master/pulsar/reader_test.go) file. My test is basically a copy/paste of one of those.
I think you don't understand my use case :disappointed:.
My question is simple. Is it possible to get the latest (most recent) message in a topic (it does not matter if it was consumed or not)? How?
Can you

[2020-07-23 13:36] wcn00 opened #332 "If this library is imported into an app that already uses prometheus and initializes the client, then the second client init will fail because of re-registering the enum"
#### Expected behavior

Tell us what should happen

#### Actual behavior

Tell us what happens instead

#### Steps to reproduce

How can we reproduce the issue

#### System configuration
**Pulsar version**: x.y

[2020-07-23 14:27] merlimat commented on #332
@wcn00 Do you think that is something related to how we're importing or initializing prometheus stuff?

Is this something related with https://github.com/golang/protobuf/issues/178#issuecomment-373136277 ?

According to https://github.com/golang/protobuf/issues/268#issuecomment-593773447, there should have been some improvement in protobuf registration in 1.20.0

[2020-07-23 16:30] wcn00 commented on #332
@merlimat  Yes I do think it has something to do with those issues.   I would migrate to the gogo version of protobufs, but I don't control either of these packages.  For the time being I'll build the app against a modified version of prometheous and leave it to upstream teams do change their code.
thnx
wcn

[2020-07-23 19:29] YezenRashid opened #333 "End to End Message Encryption Support in GO Client"
**Is your feature request related to a problem? Please describe.**
Currently End to End Encryption is not support for the Pulsar GO Client Library.  As a user of Pulsar I have many services that are in GO and Java.  I would like to leverage message encryption for all my services.  Currently it can be done with my clients written in Java, but not in GO.

**Describe the solution you'd like**
I've ta

[2020-07-24 02:29] LvBay commented on #327
@yarthur1 Did you use the same client instance to create both  consumers and a producers?
I have encountered a similar problem and have submitted a PR to fix it, hope it can help you.

[2020-07-24 03:03] yarthur1 commented on #327
yes,I  use the same client instance. thanks,I will view it

[2020-07-24 03:21] #281 closed

[2020-07-24 15:05] quintans commented on #328
@wolfstudy did you had the time to look into this?

[2020-07-24 17:50] YezenRashid commented on #333
I took a more in depth look.  It looks like it just needs to be exposed on the Go side.  The code exists in the c libraries.

[2020-07-24 22:40] quintans commented on #328
@wolfstudy this is the same situation described here for the java client https://github.com/apache/pulsar/issues/3162

[2020-07-25 02:33] wolfstudy commented on #328
Sorry for the late reply. @quintans Exposing a `GetLastMessageID(topic string) MessageID` to the outside seems to be a more elegant way, and will not invade the current consumer more.

[2020-07-25 02:38] wolfstudy commented on #333
Yes, If you are interested in this feature, you are always welcome to send a new pull request to implement it

[2020-07-25 16:41] quintans commented on #328
@wolfstudy I agree. Sould I create a ticket for this?

[2020-07-25 16:51] quintans commented on #328
@wolfstudy even if exposing `GetLastMessageID` works for me, we still have the situation where calling
[code]
does not return the last message.
Setting `StartMessageIDInclusive` to true, has no effect. Is this the expected behaviour?

[2020-07-26 07:36] ericwangdka opened #334 "Unresolved reference 'NewAuthenticationTLS' when compile whit goland"
when  compile with goland it  shows me undefined: NewAuthenticationTLS   ,how can i to do with it.

[code]

[2020-07-27 01:45] sijie commented on #334
@wolfstudy Can you take a look at this issue?

[2020-07-27 02:28] wolfstudy commented on #334
Sure

@ericwangdka `NewAuthenticationTLS` is a method under **pulsar** pkg, so you need to add the name of pkg to implement the call, as follows:

[code]

[2020-07-27 11:15] oginskis commented on #52
Is there a plan to support Pulsar Schema Registry? Maybe anyone is working on that already?

[2020-07-27 16:03] vergnes opened #335 "Partition producer gets stuck if ACKs come out of order"
#### Expected behavior

If a partition producer does not receive the expected ACK, it should not get stuck.

#### Actual behavior

In case there is a bug in the broker by not returning the expected ACK, the partition producer gets stuck.

#### Steps to reproduce

Hard to reproduce, it happened in our cluster because the broker got a NPE and thus doesn't return the ACK

#### System configuration
**

[2020-07-27 23:22] #335 closed

[2020-07-28 00:57] wolfstudy commented on #334
@ericwangdka I will close this issue first, if there are other issues, please let me know or reopen the issue, thanks.

[2020-07-28 00:57] #334 closed

[2020-07-28 01:06] wolfstudy commented on #52
@keithnull is working for this task

[2020-07-28 01:08] merlimat commented on #52
@wolfstudy @keithnull is there any design doc to share at this moment?

[2020-07-28 06:20] oginskis commented on #52
@keithnull @wolfstudy Any estimates when that could be merged in?

[2020-07-28 06:43] wolfstudy commented on #52
Sorry, @merlimat @oginskis About design doc of schema, not yet. The initial idea is to use the schema processing logic in the cgo client. In terms of implementation, I personally prefer to expose the schema as an option of `producerOptions` and `consumerOptions` rather than as a separate interface

[2020-08-03 09:05] syklevin opened #340 "Multi Subscriptions with KeyShared type, received both messages, not to only one consumer"
#### Expected behavior

According to the docs of KeyShared type: `multiple consumer will be able to use the same subscription and all messages with the same key will be dispatched to only one consumer`

#### Actual behavior

Both consumers got all messages, with different message key

Tell us what happens instead

#### Steps to reproduce

[code]

How can we reproduce the issue

the output log show

[2020-08-04 01:45] sijie commented on #340
@syklevin It seems like that you are using two different subscription names. Each subscription will receive a full copy of the messages. You need to use one same subscription name for your test.

[2020-08-04 03:21] syklevin commented on #340
Just tested and it work as expected. Thanks for pointing out this magic part. It would be great if we could have more examples for different cases.

[2020-08-04 05:23] syklevin commented on #340
@sijie BTW, how could we achieve Key_Shared with sticky hash range like java client?

[2020-08-04 06:30] sijie commented on #340
@syklevin I don't think go client supports sticky hash range yet. Feel free to create a github issue for this feature. We can follow up on it.

[2020-08-04 09:37] syklevin opened #342 "KeyShared with sticky hash range support"
**Is your feature request related to a problem? Please describe.**

go client should support this feature which is a useful for some user cases like scalable request-reply pattern.

**Describe the solution you'd like**

Add support for sticky hash range support like java client dose, let users decide which consumers should got the messages with key hash range.

**Additional context**

Related [iss

[2020-08-04 14:03] wolfstudy commented on #340
Close this issue, and https://github.com/apache/pulsar-client-go/issues/342 will track this task. Thanks @srkukarni feedback.

[2020-08-04 14:03] #340 closed

[2020-08-05 07:03] wolfstudy commented on #52
@merlimat @oginskis this is the Schema Registry design doc for Go Client, please take a look: https://gist.github.com/wolfstudy/e0c9b349cd405715a9e04dd8658510bc

[2020-08-05 07:04] wolfstudy opened #344 "Support Schema Registry feature in Go Client"
This is the Schema Registry design doc For Go Client: https://gist.github.com/wolfstudy/e0c9b349cd405715a9e04dd8658510bc

- [x] Basic classes on supporting schema (Primitive, PROTO, JSON, AVRO) #368
- [x] Support schema on Producer @wolfstudy #368
- [x] Support schema on Consumer @wolfstudy #368
- [ ] Add the schema version support - Multiple schema on a single topic (*)
- [ ] Support schema on Re

[2020-08-05 07:05] wolfstudy commented on #344
@merlimat @cckellogg @sijie PTAL thanks

[2020-08-06 01:48] sijie commented on #344
@wolfstudy Can you also send the PIP to dev@ mailing list?

[2020-08-06 01:49] wolfstudy commented on #344
Cool, will send it.

[2020-08-10 18:41] Sunadde opened #345 "Support customized Authentication when creating a client with auth enabled"
Currently, when creating a client connecting to a service URL with auth enabled, you have to create an Authentication object and pass it.

You may call `new authentication()` which internally creates a `Provider` but the `Provider` must fall in one of the limited options "tls", "token", "athenz", "oauth2" and the parameters are fixed in all these options. e.g. `NewAuthticationTLS()`expects the pat

[2020-08-13 03:27] sundy-li opened #346 "Messages should not be abstracted as interface for performance issue."
Well, in pulsar I saw messages are abstracted as an interface like
[code]

In golang, interfaces perform poor performances vs direct struct call. Here is the comparison.

https://syslog.ravelin.com/go-interfaces-but-at-what-cost-961e0f58a07b

[2020-08-14 02:01] sijie commented on #346
@merlimat @wolfstudy Can you take a look at this?

[2020-08-15 13:34] cornelk commented on #328
@quintans I had similar problems with this functionality in the past, I recreated this test in my alternative Pulsar-Go Client ( https://github.com/cornelk/pulsar-go ) to analyze the problem:

[code]

The problem with your test code and my client was that after starting/subscribing the consumer, Pulsar was not done sending back the last message yet, which makes the `HasNext()` call fail. The solut

[2020-08-17 01:45] wolfstudy commented on #346
Yes, @sundy-li If struct can meet our needs, as you said, the performance of struct is better than the interface, and the usability is also higher. But in the implementation of go client, we have a `message` struct, and this struct implements the `Message` interface. At the same time, on the consumer side, we wrap a `ConsumerMessage` struct, which is a pair of a `Consumer` and `Message`, so In suc

[2020-08-17 01:51] wolfstudy commented on #345
And the issue will be fixed in #343, so close the issue.

[2020-08-17 01:51] #345 closed

[2020-08-17 01:52] wolfstudy commented on #342
@syklevin Are you interested in this feature? Always welcome to contribute this feature.

[2020-08-17 02:05] wolfstudy opened #348 "Support the mechanism to refresh the authentication state"
As mentioned in https://github.com/apache/pulsar/issues/7824, Broker has a mechanism to refresh the authentication state. By default, `authenticationRefreshCheckSeconds` is set to 60. It refreshes the authentication state for every 60 seconds.

So we should implement the refresh logic in Go client.

[2020-08-17 02:30] wolfstudy commented on #68
@xujianhai666 will remove the millstone 0.2.0

[2020-08-17 02:44] #239 closed

[2020-08-17 03:17] sundy-li commented on #346
Well, I think
- You should consider the compatibility with the previous version of this client, maybe you should expose a new function.
- Other kafka clients like `sarama` and `kafka-go` , they always make the message to be a direct struct. This is very important for high throughput usage， although the interface may beneficial to good abstraction.

We can't use `ConsumerMessage`, because it's an i

[2020-08-17 20:36] ernado commented on #177
I was following this documentation:
http://pulsar.apache.org/docs/en/deploy-bare-metal/

There is
[code]

Tried there with go client and got error:
[code]

So we need multiple addresses to support high availability deployments without DNS.

[2020-08-17 21:16] ernado opened #349 "Failed to lookup topic (request timeout) after pulsar broker restart"
#### Expected behavior

Consumers/Producers are created normally after broker restart.

#### Actual behavior

[code]

On broker side:
[code]

#### Steps to reproduce

1. Start pulsar (3 node deployment)
2. Connect to first node with producer/consumer
3. Restart first node
4. Observe `request timed out` errors

#### System configuration
**Pulsar version**: 2.6.0

Hi, while testing 3 node deployment

[2020-08-17 21:30] merlimat commented on #349
It looks like an issue on broker lookups in 2.6 release

[2020-08-18 13:20] ernado commented on #349
Should I try 2.6.1 or 2.5?

[2020-08-19 05:57] sneerin opened #350 "ReceiverQueueSize -1 leads to crash"
#### Expected behavior
According to doc -1 is a correct value
Tell us what should happen

#### Actual behavior
App is crashing
Tell us what happens instead

#### Steps to reproduce
	options := pulsar.ConsumerOptions{
		Topic:             topic,
		SubscriptionName:  cg,
		Type:              pulsar.Shared,
		ReceiverQueueSize: -1,
	}

[2020-08-19 06:18] sneerin opened #351 "Ability to receive/wait for nacked messages, pause a topic"
Currently, if you send 5 messages, and back #5 , it will arrive the last one, breaking the order.
i want to have a use-case, when once a message nacked, the order is not broken, the topic is on pause, until the message is returned or completely failed to DLQ.

[2020-08-19 09:26] ernado opened #352 "Use dependency injection for metrics"
**Is your feature request related to a problem? Please describe.**
Currently `promauto.NewCounter`, `promauto.NewGauge`, etc are used in such way:
[code]
There are several problems with such approach:
1. Using `prometheus.DefaultRegisterer`
2. Using global variables

**Describe the solution you'd like**
1. Add an ability to provide custom prometheus registry instance
2. Remove global variable usag

[2020-08-20 04:05] wolfstudy opened #353 "Support retry logic in dead letter topic"
For many online business systems, a message needs to be re-consumed because any exception occurs in the business logic processing.

More information reference to http://pulsar.apache.org/docs/en/concepts-messaging/#retry-letter-topic

[2020-08-20 04:07] wolfstudy commented on #353
And the java client impl in https://github.com/apache/pulsar/pull/6449

[2020-08-21 01:39] jiazhai commented on #350
Thanks @sneerin for the reporting, We should add a check for value like "-1". Would you like to fix this issue?

[2020-08-21 01:44] jiazhai commented on #351
if you are using exclusive/failover sub mode, the order should be right. Are you using shared mode?

[2020-08-21 03:41] wuYin commented on #353
May I try to implement this feature?

[2020-08-21 05:21] sneerin commented on #351
No, I'm using exclusive mode, still, I have a message that I nacked only after the rest of them arrived, I'm doing nack 2 times.

[2020-08-21 09:44] nickmurr opened #355 "Memory leak on consumer.Close()"
#### Expected behavior

Regarding this issue [154](https://github.com/apache/pulsar-client-go/pull/154) it seems that this problem still exists.
I still get a memory leak on closing the consumer

When i do this (as example below) then the memory leaks happen

[code]

#### System configuration
**Pulsar version**: 0.1.1

[2020-08-24 01:11] wolfstudy commented on #353
Sure, assign the task for you

[2020-08-24 05:11] #328 closed

[2020-08-24 05:35] wolfstudy commented on #241
The issue will be fixed in #329

[2020-08-24 05:35] #241 closed

[2020-08-24 05:40] wolfstudy commented on #232
This problem is caused by a problem on the broker side. After 2.5.0, the problem has been fixed, so close this issue first. If everyone encounter this problem again, please reopen this issue or let me know, thanks.

[2020-08-24 05:40] #232 closed

[2020-08-24 05:52] wolfstudy commented on #257
Thanks @jonyhy96 feedback, I think this is a good proposal, can you send a pull request to improve this?

[2020-08-24 06:05] #218 closed

[2020-08-24 12:51] jonyhy96 commented on #257
Sure, I'll send a pull request on this very soon.

[2020-08-30 15:45] dalianzhu commented on #349
I may have the same issue，I am not sure if the server has restarted, but my program is stuck. There are no errors.

The last few logs are：
[code]
The program is stuck for several hours, the functions `Receive` and `Ack` are stuck，Return to normal after restart.

[2020-09-11 04:23] zymap opened #364 "Create reader will stuck on somewhere"
The test code:

//	client, err := pulsar.NewClient(getClientOptions())
//	if err != nil {
//		t.Fatal(err)
//	}
//	assert.Nil(t, err)
//	defer client.Close()
//
//	topic := newTopicName()
//	ctx := context.Background()
//
//	// create reader
//	reader, err := client.CreateReader(pulsar.ReaderOptions{
//		Topic:          topic,
//		StartMessageID: pulsar.EarliestMessageID(),
//	})
//	if err != nil

[2020-09-15 09:26] lhui1991 opened #365 "Support Send Batch Msg Synchronously"
**Is your feature request related to a problem? Please describe.**
Currently, if you send message synchronously, only a message can be send. how about support a way send batch messages synchronously

**Describe the solution you'd like**
A clear and concise description of what you want to happen.

**Describe alternatives you've considered**
A clear and concise description of any alternative solutio

[2020-09-18 02:38] cgfork opened #367 "A message without delay will reuse the delay of the previous message at the same producer"
#### Expected behavior

The message should not be delay.

#### Actual behavior

The message was delayed.

#### Steps to reproduce
[code]

#### System configuration
**Pulsar version**: 2.5.0
**Client version**: 0.10, 0.2.0

[2020-09-23 12:22] faceair opened #370 "Use dependency injection for log or use channel to expose"
**Is your feature request related to a problem? Please describe.**
[code]
This uses logrus.StandardLogger to create the entry, and the output format cannot be changed.
We don't use logrus in our business logic code, we have a custom log collection format. Now the pulsar-client-go logs interfere with the business logs in our process's stderr.

**Describe the solution you'd like**
We can learn saram

[2020-09-23 12:28] faceair commented on #352
I'd prefer to add a method that returns only internal statistics, and not bind to prometheus. More generic SDKs are used in this way, e.g. https://golang.org/pkg/database/sql/#DB.Stats, https://github.com/go-redis/redis/blob/v8.2.0/redis.go#L618

We're still using graphite, and maybe someone else is using some other metrics system.

[2020-09-25 06:51] vlemaitre commented on #355
Hello,
I faced the same issue using the library version 0.1.1.
Moving on version 0.2.0 solved the issue !

[2020-09-28 20:10] devinbost commented on #349
We're seeing this issue on 2.6.1

[2020-10-08 20:01] nathanclayton commented on #302
That's what it seems to be doing, attempting to regenerate the go code from the proto file using Google's protobuf libraries. I cloned the repo and renamed the `.proto` file extension and things seem to be working better now.

Are you using Gazelle as well? That seems to automatically create the regeneration rules when you run a `gazelle update`.

[2020-10-09 01:33] #367 closed

[2020-10-09 01:54] #342 closed

[2020-10-09 02:00] #350 closed

[2020-10-09 02:08] wolfstudy commented on #370
@faceair Good ideas, the https://github.com/apache/pulsar-client-go/pull/323 is trying to fix this.

[2020-10-09 02:11] wolfstudy commented on #355
The issue already fixed in 0.2.0, will close issue.

[2020-10-09 02:11] #355 closed

[2020-10-09 03:10] wolfstudy commented on #370
@faceair the #323 already merged into master, please help to check the feature.

[2020-10-09 09:01] faceair commented on #370
Thank you very much. That's very nice. 👍

[2020-10-09 09:01] #370 closed

[2020-10-09 09:53] wolfstudy opened #377 "Support MessageRoutingMode feature in Producer"
**Is your feature request related to a problem? Please describe.**
A clear and concise description of what the problem is. Ex. I'm always frustrated when [...]

**Describe the solution you'd like**
A clear and concise description of what you want to happen.

**Describe alternatives you've considered**
A clear and concise description of any alternative solutions or features you've considered.

**Ad

[2020-10-09 19:37] nathanclayton commented on #302
@simoneau and @merlimat - This problem seems to be directly related to Bazel/Gazelle attempting to rebuild the protobuf files (even when defining the proto compiler as gogofast in the root configuration).

To fix this issue, in the `go_repository` that defines the pulsar client you need to add the line `build_file_proto_mode = "disable_global",`, and everything will build just fine.

For reference

[2020-10-13 12:29] omnilight opened #379 "Problem with github.com/DataDog/zstd"
#### Expected behavior

Can use this library with other ones using datadog/zstd dependency

#### Actual behavior

During compilation I get error like:

case-insensitive import collision: "github.com/datadog/zstd" and "github.com/DataDog/zstd"

#### Steps to reproduce

1. Require `github.com/datadog/zstd` into your project or use some other library requiring it
2. Try to compile your code

As `puls

[2020-10-19 03:09] flowchartsman opened #380 "99designs/keyring dependency causes build warnings on macOS Catalina"
`github.com/apache/pulsar-client-go/oauth2/store` depends on `99designs/keyring` `v1.1.5`, which in turn depends on an older version of `github.com/keybase/go-keychain`, which throws deprecation warning error messages when building on MacOS. `v1.1.6` includes a fix for this, though it uses a replace directive to point to a fork of `go-keychain`, which itself is somewhat out of date:
https://github

[2020-10-20 20:31] vergnes opened #382 "Update default router to switch partition on all batching thresholds"
**Is your feature request related to a problem? Please describe.**
The default router switches to another partition if the max delay to publish has elapsed but not for other threshold such as max number of messages or max number of bytes. The consequence is that even though there are multiple partitions this router does not leverage them. It is problematic when a partition is rate limited typicall

[2020-10-21 02:51] #257 closed

[2020-10-21 04:58] tiancai110a commented on #208
add a counter yourself and comapre the count with  MaxPendingMessages

[2020-10-22 06:15] wolfstudy commented on #382
The issue has been fixed in https://github.com/apache/pulsar-client-go/pull/383, will close it.

[2020-10-22 06:15] #382 closed

[2020-10-22 06:18] wolfstudy commented on #379
@omnilight Maybe we can use `github.com/datadog/zstd` uniformly, which is more in line with the naming convention of the go community. Are you interested in sending a pull request to fix this issue?

[2020-10-22 06:19] wolfstudy commented on #380
@zymap @EronWright Can you help to check the issue?

[2020-10-23 06:23] #344 closed

[2020-10-25 10:05] #346 closed

[2020-10-26 09:35] Heasn opened #384 "99designs/keyring causes build broken"
### enviorment
*os*:  macOS Catalina 10.15.6
*pulsar-client-go*: 0.2.0
*go*: go1.15.1 darwin/amd64

### problem
The dependency `99designs/keyring@v1.1.6` causes build broken, and the output is

[code]

[2020-10-27 11:58] omnilight commented on #379
@wolfstudy Yes, I'm willing to help, will make PR

[2020-10-28 17:14] omnilight commented on #379
@wolfstudy PR is created

[2020-10-28 17:53] #379 closed

[2020-11-05 11:13] raymondsugiarto commented on #384
Hi @Heasn ,

Lets try this:
1. Check your GOPATH..
2. Create a project inside your GOPATH, then create main.go and import pulsar there..
3. Run go get, (should be installing pulsar inside your src in GOPATH), wait until go pulsar client downloaded. Make sure code already download in src/github.com/apacher/pulsar like below

<img width="515" alt="Screen Shot 2020-11-05 at 18 09 41" src="https://use

[2020-11-10 05:36] cocotyty opened #387 "Close consumer message channel when consumer closed."
**Is your feature request related to a problem? Please describe.**
A clear and concise description of what the problem is. Ex. I'm always frustrated when [...]

lots of consumer code maybe like this:

[code]
if not close channel when consumer close, maybe cause goroutine leak.

**Describe the solution you'd like**
A clear and concise description of what you want to happen.
when close a consumer,cl

[2020-11-12 16:20] milos-matijasevic opened #389 "Weird behaviour when connection is closed and Consumer.Ack() is called (unhandled connection closed error)"
With regard to #376 and fixing deadlock, i think new problem occurs.
My tests were focused on **consumer** and **out of order acknowledgments**.
While consumer's client tries to reconnect ([pc.reconnectToBroker()](https://github.com/apache/pulsar-client-go/blob/master/pulsar/consumer_partition.go#L752)), for loop under that receives requests from `eventsCh` channel is not blocked, and it continues

[2020-11-12 16:22] milos-matijasevic commented on #389
@wolfstudy please take a look before merging #388

[2020-11-13 09:46] freeznet commented on #172
I can try to implement this feature 🔢

[2020-11-16 01:32] Heasn commented on #384
thanks

[2020-11-16 01:32] #384 closed

[2020-11-16 07:49] wolfstudy commented on #389
@milos-matijasevic Sorry for the reply later, i tried to use the code you provided, but unfortunately, it did not reproduce.

[code]

@milos-matijasevic Currently the protocol of acknowledge doesn't support any response. It is fire-and-forget. We will add responses for acknowledgment as part of transaction support.

[2020-11-16 08:00] milos-matijasevic commented on #389
Which scenario did you use? There should be holes in ack, in cursors stats that you shared there are not, is that bad?

[2020-11-16 08:06] wolfstudy commented on #389
Certainly good, I have tested both scenarios, and the cursor stats are good for me.

[2020-11-16 08:17] wolfstudy opened #390 "Add token for pulsar-client-go"
The issue will be tracked in https://issues.apache.org/jira/projects/INFRA/issues/INFRA-21108?filter=allopenissues

[2020-11-16 08:19] milos-matijasevic commented on #389
So you see holes in `individuallyDeletedMessages`? Did you use the v0.3.0-candidate-1 version?
Also in cursor stats you shared, the ack position is 30, and there are 1000 messages, so should `messagesConsumedCounter `be -969 instead of -941?

[2020-11-16 08:36] milos-matijasevic commented on #389
[code]

These are logs when this is uncommented,.
[code]
After reconnecting, the consumer starts to read already read but unacked messages.

[2020-11-16 09:05] wolfstudy commented on #389
Yes, this is the correct behavior. When a connection is established for the first time, messages 0, 2, 4, 6, and 8 will be acked. When reconnecting, the broker will re-send these unacked messages 1, 3, 5, 7, and 9 to the client. At this time, the messages may be repeated, so there is no way to guarantee the order of the messages, so you may encounter the situation you saw above.

[2020-11-16 09:16] milos-matijasevic commented on #389
Thanks for the explanation, I agree with you.
However, this won't happen if those 2 lines are commented, which brings on different behaviour depends on consumer options
In my test case (with commented these 2 lines) the program will continue normally (as you can see above logs), and on reconnecting it will somehow ack all messages consumed till that moment

Also, how is handled when a connection i

[2020-11-18 10:40] jclivi opened #392 "Is there a related openresty lua library"
Is there a related openresty lua library
such as: https://github.com/doujiang24/lua-resty-kafka

[2020-11-18 12:24] wolfstudy commented on #392
It doesn’t seem to exist yet, you are very welcome to contribute one.

[2020-11-18 13:19] wolfstudy commented on #390
Close this issue.

[2020-11-18 13:19] #390 closed

[2020-11-19 01:45] jclivi opened #396 "Get message by messageId"
Is it possible to query messages by message ID

[2020-11-20 11:55] wonko opened #398 "ReceiverQueueSize of 0 doesn't work as intended"
(This was already reported against the old driver here (by me): https://github.com/apache/pulsar/issues/6496 but it was noted this was fixed with the new go implementation, which doesn't seem the case. The case is identical.)

#### Expected behavior

When running pulsar as a queue system, with long/varying processing times per message, a client setting ReceiverQueueSize to 0 should allow a client

[2020-11-20 17:54] wonko commented on #398
I managed to get it to work in my case, but I don't think my PR is complete ... anyhow, submitting as reference.

[2020-11-23 11:21] sixhj commented on #396
producer send message，return message ID ，Do you want?

[2020-11-30 03:17] freeznet opened #401 "add OrderingKey related apis"
**Is your feature request related to a problem? Please describe.**
According to https://github.com/apache/pulsar/pull/4079, `orderingKey` was introduced to let user set message order manually, currently pulsar-client-go do not have related apis exposed to user. We should add `orderingKey` related apis to `ProducerMessage` and `Message`.

**Describe the solution you'd like**
- add `OrderingKey` to

[2020-11-30 18:12] omnilight opened #403 "Add ack timeout support"
Documentation says that there is an [Acknowledgement timeout](https://pulsar.apache.org/docs/en/concepts-messaging/#acknowledgement-timeout) in pulsar.

But I can not find and mentions of this options in subscriber config.

So, could you please describe, if go client supports that and, if not, what is default ack timeout?

[2020-11-30 18:52] #380 closed

[2020-11-30 19:33] merlimat commented on #403
This was left out on purpose from the Go client lib. Ack timeout was the wrong solution we initially applied. Later we introduced negative Acks which are better suited for most of the cases (though we couldn't remove ack timeout for compatibility reasons there).

[2020-12-01 01:41] #242 closed

[2020-12-01 01:41] wolfstudy commented on #242
The #394 has achieved this function

[2020-12-01 08:36] #172 closed

[2020-12-01 09:22] omnilight commented on #403
Ok, so as I understood, no ack timeout anymore. But I think, that it must be described in pulsar docs... Anyway, thank you a lot, closing issue

[2020-12-01 09:22] #403 closed

[2020-12-01 14:07] yukshimizu opened #407 "Go build fails to compile"
## Problem
I'm tying to build the code, which just import "github.com/apache/pulsar-client-go/pulsar", and output is below.
[code]
It may be caused by referring github.com/keybase/go-keychain@v0.0.0-20190712205309-48d3d31d256d/macos_1.10.go because that is not latest one.

## Environment
os: macOS Mojave 10.14.6
go: go1.15.3 darwin/amd64
pulsar-client-go: 0.3.0

[2020-12-01 15:11] yukshimizu commented on #407
I also tried with newer version of go key-chain [v0.0.0-20201121013009-976c83ec27a6], and it resolved the original issue. But I had another issue.
[code]
It looks similar to https://github.com/99designs/keyring/issues/64.

[2020-12-01 17:03] merlimat commented on #407
@yukshimizu can you check with master branch? There is a change that might fix this: #404

[2020-12-02 00:40] yukshimizu commented on #407
Thanks @merlimat. I tried it, but the result was same.
[code]
https://github.com/apache/pulsar-client-go/pull/404 looks it is for MacOS Catalina, but my environment is Mojave.

[2020-12-02 12:11] bnkamalesh commented on #407
same on my laptop as well.

[code]

![image](https://user-images.githubusercontent.com/1092882/100871011-918bec00-34c5-11eb-82eb-f1ad2399dc40.png)

[2020-12-02 13:24] bnkamalesh opened #409 "github.com/datadog/zstd dependency"
#### Expected behavior

There should not be any CGO dependency, according to Goal of this package.

#### Actual behavior

One of the dependencies (github.com/datadog/zstd ) has CGO dependency

#### Steps to reproduce

`go.mod` has the dependency detail

#### System configuration
**Pulsar version**: x.y

[2020-12-07 03:52] wolfstudy commented on #407
@yukshimizu Will updating the dependency of `github.com/keybase/go-keychain` to the latest one solve your problem?

[2020-12-07 03:54] wolfstudy commented on #409
@bnkamalesh  Thanks for your feedback, The dependency of `github.com/datadog/zstd` was introduced mainly because the compression ratio of CGO seems to be better than that of Go itself.

[2020-12-07 03:57] wolfstudy commented on #409
As described in #270, by default, CGO is disabled. If you want to enable the CGO version of zstd compression, you can enable CGO in your system

[2020-12-07 12:03] yukshimizu commented on #407
Thanks @wolfstudy. I updated the following two dependencies of `github.com/keybase/go-keychain` to the latests and builded, but the result was same.
[code]

[2020-12-08 01:12] Just4Ease commented on #407
I'm experiencing the exact same issue.

Phweeew 💀

[2020-12-08 02:49] wolfstudy commented on #407
I'm not sure if this problem is related to the local environment. It can be successfully built locally. Can you help to try the following solutions?

https://github.com/keybase/go-keychain/issues/47#issuecomment-533809337

[2020-12-08 13:29] Just4Ease commented on #407
let me give it a try now, had to catch some sleep

[2020-12-08 15:38] Auxxxxlx commented on #407
I have a workaround, add the following in `go.mod`:

[2020-12-09 06:24] hrsakai commented on #389
I reproduce senario 2.
Unacked messages doesn't be redelivered.

Steps to reproduce
1. Consumer receives messages and unacks some messages.
2. Unloading the topic.
3. When reconnecting to broker, startMessageID will be changed from [ledgerId:0,entryId:0] to value returned by `getPreviousMessage(nextMessageInQueue)` if consumer's receiverQueue is not empty.
https://github.com/apache/pulsar-client-g

[2020-12-09 11:42] yukshimizu commented on #407
This results in same as original issue.
[code]

[2020-12-09 12:10] bnkamalesh commented on #407
[code]
[code]

It's working for me now. Maybe try the following? P.S: It'll upgrade all the dependencies

[code]

[2020-12-09 12:49] yukshimizu commented on #407
Thanks @bnkamalesh, but it still didn't work well. It looks highly depending on MacOS version... Which MacOS version are you using now?

[2020-12-09 13:37] bnkamalesh commented on #407
![image](https://user-images.githubusercontent.com/1092882/101636721-bd711980-3a51-11eb-9f6c-8d63f9854706.png)

OS: 11.0.1 (20B29)
MacBook Pro (13-inch, 2019, Two Thunderbolt 3 ports)

[2020-12-10 04:54] sixhj opened #412 "user cluster address is err"
user  pulsar://192.168.33.3:6650 ,192.168.33.4:6650,192.168.33.5:6650

CreateProducer   err

[2020-12-10 09:29] yukshimizu commented on #407
I updated xcode to 11.3.1, which is the newest version for macos 10.14 and tried it. But, the result was the same. I may need to update macos to BigSur, but am hesitative about it :-<

[2020-12-10 09:52] yukshimizu commented on #407
I'm not sure the exact reason, but it works after rebooting mac!
Many thanks @bnkamalesh @Auxxxxlx @wolfstudy @merlimat !!!

[2020-12-10 09:52] #407 closed

[2020-12-12 08:50] wolfstudy commented on #412
Thanks @sixhj feedback, currently, the Go client not support multi-host address, and the https://github.com/apache/pulsar-client-go/pull/291 will track this.

[2020-12-13 11:53] milos-matijasevic commented on #389
Thanks @hrsakai for working on this!

Did you try to reproduce scenario 1, if a connection to a broker is closed, a consumer will continue to read messages from the queue, if the size of the queue is more than 1 (which we can say can be good behavior) however it won't block on ack call. So now when you fixed this, after reconnecting it will start reading unacked messages which the program expects

[2020-12-13 23:52] hrsakai commented on #389
@milos-matijasevic
Yes, I reproduced scenario 1.

My PR is just to avoid following the issue in the scenario 2.

[2020-12-21 06:46] wolfstudy opened #420 "[Go schema] Support multi version schema for repo"
Currently, we already support a single topic schema in producer and consumer for Go client.

The following are other functions of the schema that need to be supported:

- [ ] Support schema in reader
- [ ] Support multi version schema for Go client
- [ ] Support Key-Value schema
- [ ] Support auto schema

[2020-12-21 06:47] wolfstudy opened #421 "[Reader] Support seek logic for reader"
Support seek logic for reader, the feature as follows:

- [ ] Seek by time
- [ ] Seek by msg ID

[2020-12-21 06:49] wolfstudy opened #422 "Support compacted topics logic for go client"
Support compacted topics  logic for go client

[2020-12-21 06:52] wolfstudy opened #423 "Support End-to-end Encryption for go client"
Support End-to-end Encryption for go client, the feature include:

- [ ] Producer side
- [ ] Cosumer side
- [ ] Reader side

[2020-12-21 06:53] wolfstudy opened #424 "Support Kerberos auth for Go client"
Support Kerberos auth for Go client

[2020-12-22 20:42] vijaynalawade opened #429 "Ability to pause/resume consumer"
**Is your feature request related to a problem? Please describe.**
Under certain conditions (say in flow control mode), I would like to pause the consumer. I see this feature already supported for JAVA client. https://pulsar.apache.org/api/client/2.7.0-SNAPSHOT/

**Describe the solution you'd like**
Like JAVA client, I would like Golang client to support pause/resume feature for consumers.

**Desc

[2020-12-22 22:40] merlimat commented on #429
The pause/resume in Java/C++ client is relative to its use within the context of a "listener".

There is no "listener" in the Go client. Users can just stop calling receive or not reading from the channel associated with the consumer.

[2020-12-23 03:12] #401 closed

[2020-12-23 05:43] JoseFMP opened #430 "Disable logger"
In general, is there any way to disable the logger or use an alternative logger? I can see in the client configuration there is a field `Logger` but I cannot find any example on how to disable or reconfigure it. If I set it to `nil` all the logs are dumped in my console.

[2020-12-23 05:56] merlimat commented on #430
We're using Logrus (https://github.com/sirupsen/logrus), so you can use that API to configure or disable the loggeing

[2020-12-28 05:37] JoseFMP commented on #430
@merlimat
Thank you so much. Still, I am not sure how I can disable or redirect the output. I saw the doucmentation of Logrus. However, how do I in practice disable it or redirect it if I am using pulsar client? Sorry, it does not seem obvious to me.

[2020-12-28 06:23] jiazhai commented on #348
@freeznet to notice on this issue. also https://github.com/apache/pulsar/pull/9064 this WIP pr is related.

[2020-12-30 08:53] gonejack commented on #387
Hello, is this a bug or expected behaviour?

[2021-01-04 11:25] caibirdme opened #431 "Why partition append to topicName"
when subscribe a topic, say "foo",  the topic field in the returned pulsar.Message is `foo-partition-N`.

Why we do this, or is this what pulsar broker returns to the client? I mean, it'd be better if we keep the topic as it actually is, and add a field called Partition in the Message to indicate which partition the message belongs to, something like:
[code]
rather than:
[code]

By doing this, we

[2021-01-04 11:35] caibirdme commented on #431
Sorry, it's our client who does this useless extra work...

[2021-01-04 11:35] #431 closed

[2021-01-04 15:14] flowchartsman opened #432 "regexp subscription is recreating deleted topics when it shouldn't"
#### Steps to reproduce

Initialize a standalone cluster and create some entities:

[code]

Create a client with the following code (I have it in a directory called `rexconsumer`):
[code]

start the consumer:
[code]

Create some topics and verify they are there:

[code]

Now force-delete one of the topics:

[code]

In the consumer you will see:
[code]

And the topic is still there:
[code]

#### Ex

[2021-01-04 17:01] flowchartsman commented on #432
Worth noting is that with this working the attempted resubscribe then triggers a series of scary-looking errors that are not a big deal:

[code]

Some introspection into errors could help to avoid this, since you could check if the error was "TopicNotFound" and then just skip further retries if `disableForceTopicCreation` is enabled. Might be worth creating an error type in `connection.handleRespo

[2021-01-04 17:31] flowchartsman opened #434 "Regex consumer throws multiple unnecessary errors on topic deletion"
#### Expected behavior

When a topic is deleted, a regex subscriber should simply gracefully close the individual consumer and move on.

#### Actual behavior

As I mention in #432, the client throws a series of scary-looking errors as it attempts to resubscribe to the topic, but is blocked by its own specified desire not to create new topics. It then retries the operation a series of times.

####

[2021-01-05 22:56] devinbost commented on #349
We just ran into this issue with a Java client.

[2021-01-06 11:27] yuanweikang2020 commented on #430
like this.
`func init() {
  // Log as JSON instead of the default ASCII formatter.
  logrus.SetFormatter(&logrus.JSONFormatter{})

  // Output to stdout instead of the default stderr
  // Can be any io.Writer, see below for File example
  logrus.SetOutput(os.Stdout)

  // Only log the warning severity or above.
  logrus.SetLevel(logrus.WarnLevel)
}`

[2021-01-06 16:56] bschofield opened #435 "Unusual crash on corrupted message"
#### Expected & actual behavior

Somehow, I ended up with a corrupted message (or message batch?) on my production pulsar cluster. I'm unsure of the source of the corruption: it may have been generated by the pulsar CGo client which I was using, or it may have been generated elsewhere.

When using the CGo client, the corruption manifested as consumers reading from the bad topic silently hanging, a

[2021-01-07 06:43] JoseFMP commented on #430
@yuanweikang2020  Thank you!

Wondering how to do it not globally for all `logrus` loggers running in a process.

Use case: I am using 4 producers and 3 readers in a microservice, and I would like to be able to enable / disable the logger for a given producer / reader and not to have to shut it down for all or have it logging for all.

[2021-01-07 12:51] bschofield commented on #228
I added a bridge to _zap_, to complement the existing bridge to _logrus_: https://github.com/apache/pulsar-client-go/pull/436.

[2021-01-08 14:24] bschofield opened #437 "SendAsync() can stall with large BatchingMaxPublishDelay"
#### Observed behavior

When using `SendAsync()` together with a large `BatchingMaxPublishDelay`, such that batch flushing is driven mainly by `BatchingMaxMessages`, send stalls can occur.

I don't fully understand the cause of these, but increasing `MaxPendingMessages` seems to make them go away.

It may be relevant that I am producing to a topic with several partitions.

I originally came across

[2021-01-08 15:42] bschofield commented on #437
Profiling the goroutines in my test program, at the time the send is stalled, results in this.

![Screenshot from 2021-01-08 15-33-43](https://user-images.githubusercontent.com/1534502/104033053-edcde400-51c6-11eb-90bf-b3ec76fa95d7.png)

Note that `partitionProducer.internalSendAsync()` is blocked on semaphore acquisition. Since I don't have the  `DisableBlockIfQueueFull` option sent, I think this

[2021-01-08 16:36] bschofield commented on #437
Another way to fix this seems to me to edit _batch_builder.go_, `batchContainer.Add()` so that it return `false` if the current batch container has too many messages instead of just too many bytes, i.e. to change

    } else if bc.hasSpace(payload) {
    	// The current batch is full. Producer has to call Flush() to
    	return false
    }

to

    } else if bc.IsFull() || bc.hasSpace(payload) {

[2021-01-11 12:23] bschofield commented on #437
I worked around this bug by setting `BatchingMaxMessages = math.MaxInt32`, so that batching is driven only by the space limit and the max delay (which I set to 1 second).

This seem to give me throughput comparable to, or better than, the cgo client.

[2021-01-11 20:37] flowchartsman opened #438 "initial Reader.HasNext() returns true on empty topic, leading to hangs."
I am creating a reader to stream the last <time period> of function output messages to a browser connection:

[code]

#### Expected behavior

If there are no results, `HasNext()` should return `false` and the handler should proceed.

#### Actual behavior

Hangs forever.

[2021-01-14 13:57] dunglas opened #440 "Impossible to install v0.3.0 because of zstd"
#### Expected behavior

It should be possible to install the latest version.

#### Actual behavior

PR #385 conflicts with other libs depending on `github.com/DataDog/zstd`. In my project, `zstd` is a transient dependency of many other open source dependencies, and all the other ones are using `github.com/DataDog/zstd`. This leads to an installation error:

    ../../go/pkg/mod/github.com/apache/p

[2021-01-15 20:43] EliHarper opened #442 "Provide Description for Sending Messages to a Topic that has a Schema Definition"
**Is your feature request related to a problem? Please describe.**
I'd like to produce to a topic with the Go client, but it's unclear whether this is possible, due to a lack of documentation.
I've noticed that a solution for schema _creation_ is being worked out, but is it even possible to send on a topic that has an existing schema currently?

**Describe the solution you'd like**
A clear descrip

[2021-01-18 07:53] godchen0212 opened #443 "Add context param in interceptor"
**Is your feature request related to a problem? Please describe.**
I want to add opentracing tracking for message delivery. Executing opentracing related code in the interceptor is an elegant way which won't cause a bad influence on my logic code. However, the interceptor has no context parameter, which makes it difficult to pass in the relevant context.

**Describe the solution you'd like**
I wan

[2021-01-20 03:56] freeznet commented on #440
should wait for https://github.com/golang/go/issues/26904 to allow `replace` like

[code]

[2021-01-20 05:05] jonyhy96 opened #444 "Some error results are commented"
#### Expected behavior

Uncomment the error result

#### Actual behavior

https://github.com/apache/pulsar-client-go/blob/master/pulsar/error.go#L42-L73

Some error results are commented

If there is any specific reason that these error results has to be commented?

[2021-01-20 05:06] jonyhy96 commented on #444
/cc @wolfstudy

[2021-01-21 02:58] jonyhy96 commented on #444
Besides these errors are unexported, we can't assert errors use errors.Is in client side. Perhaps these errors should be export in error.go and use newError to create one?

[2021-01-21 03:48] QiAnXinCodeSafe opened #445 "There is a vulnerability in protobuf v1.3.1,upgrade recommended"
https://github.com/apache/pulsar-client-go/blob/2456729a54cad11865005d177698a617db864c72/go.mod#L11

CVE-2021-3121

Recommended upgrade version：v1.3.2

[2021-01-22 19:35] flowchartsman opened #447 "pulsar-client-go reports message too large before compressing it."
I'm getting "message too large" messages on some large JSON documents that, when compressed, are nowhere near the limit.

in `producer_partiton.go`:
[code]

Correct me if I'm wrong, but this appears to check the payload size before any compression.

Whereas in `ProducerImpl.java`:
[code]

[2021-01-22 19:42] merlimat commented on #447
That's right, the Java and C++ clients are more permissive in that the message go through if it's below the limit after compression. We should also do the same thing in Go.

Keep in mind, though, that it won't change the "guaranteed" max size, since there is guarantee that the compression will actually reduce the size.

[2021-01-22 19:49] flowchartsman commented on #447
I am not sure what this means. Of course there is never a guarantee with compression...

[2021-01-22 20:01] merlimat commented on #447
Yes, if the max limit is 5MB, it will only guaranteed to accept up to 5MB. Above that, it's just "best effort" to get that to fit in with compression.

[2021-01-22 20:05] flowchartsman commented on #447
Okay, so wait, I’m confused. I guess it might help to discuss the intended purpose of maxmessagesize.  If it’s just a knob to adjust cluster performance and storage allocation and such, that’s one thing, but if it is intended as a to guarantee that, for example, a consumer can keep a fixed buffer for handing the payload, then this would seem to be correct behavior, am I right? Are the Java and C++

[2021-01-25 03:39] flowchartsman opened #448 "Access to partitionConsumer state not thread-safe."
As part of my testing of the fix for #432, I have discovered a race condition in consumer_partition.go where access to the struct's `state` member is modified concurrently without synchronization:

[code]

[2021-01-25 04:20] flowchartsman commented on #448
Preliminary testing with `go.uber.org/atomic` indicates that this indeed eliminates the race in the referenced test.

[code]

Note: diff is merely illustrative of the approach of using this particular package for the fix. Other changes, like the nacktracker change have entered the main branch since the changes I made for #432, and are not germane to the issue.

I haven't determined if this problem

[2021-01-25 04:24] flowchartsman commented on #434
(See supplementary discussion in  #433)

[2021-01-25 15:53] zzzming commented on #448
It looks like this is a miss. In `state` was synchronized in producer_partition.go and connection.go with sync/atomic

https://github.com/uber-go/atomic/blob/master/uint32.go uses sync/atomic underneath. Can we converge to use uber library for simplicity? @merlimat @flowchartsman

[2021-01-26 00:47] flowchartsman opened #452 "MetadataError: Consumer not found when instantiating a reader with StartMessageID: pulsar.LatestMessageID()"
I am creating a reader to read backwards in time off of a topic, and I have noticed that I receive the above error if I seek by time after creating the reader with `StartMessageID: pulsar.LatestMessageID()` if I use `pulsar.EarliestMessageID()` it seems to behave correctly:

[code]

Code attached.

[code]

[2021-01-26 12:51] brzyangg opened #453 "Make MessageID In my Project"
**Is your feature request related to a problem? Please describe.**
Why not provide a public implementation about MessageID

**Describe the solution you'd like**
NewMessageID(ledgerID int64, entryID int64, batchIdx int, partitionIdx int)

**Describe alternatives you've considered**
I need Seek() from customized messageID

**Additional context**

I am developing a management platform，need to start c

[2021-01-27 03:54] hrsakai commented on #445
Fixed by  https://github.com/apache/pulsar-client-go/pull/446

[2021-01-27 03:54] #445 closed

[2021-01-28 02:59] brzyangg commented on #452
+1
The value of StartMessageID is always `newMessageID(math.MaxInt64, math.MaxInt64, -1, -1)`
Cause the Reader to set StartMessageID is LeastMessageID and the message cannot be read

[2021-01-28 03:36] flowchartsman opened #456 "Support Large Message Size (PIP-37 / "chunking")"
Currently the go client does not seem to support [PIP-37](https://github.com/apache/pulsar/wiki/PIP-37:-Large-message-size-handling-in-Pulsar) which allows for messages to be sent that are larger than the maximum message size by breaking them up on the producer side and re-assembling them in the consumer. This would be a handy feature to have parity with the [Java client](https://github.com/apache

[2021-01-28 14:22] freeznet commented on #447
@flowchartsman as my understanding, Java and C++ are doing the right way. `MaxMessageSize` can be considered as the buffer size between broker and client. But it also the buffer size between bookkeeper and pulsar. Pulsar and bookkeeper will not de-compress the message, and the decompression is a client side job. This is why we need to ensure that client side features are consistent across differen

[2021-01-29 01:59] freeznet commented on #444
hi @jonyhy96, i agree with your point. should complete `func getResultStr(r Result) string` first and use `newError` to export the needed errors.

[2021-02-02 13:32] wuYin opened #458 "MaxReconnectToBroker caused infinite sendTimeout failure even after broker recovered"
#### Expected behavior

For the `MaxReconnectToBroker` configuration, from the literal meaning, producer retries to reconnect brokers more than `MaxReconnectToBroker` times, the producer should report error and close, or something else. but it did nothing and caused infinite sendTimeout failure, even after broker recoverd, it still keep failing...

![image](https://user-images.githubusercontent.co

[2021-02-02 13:57] wuYin commented on #440
I have same issue, from pkg.go.dev statistics, `DataDog/zstd` is used much more often than `datadog/zstd`
Reference
https://pkg.go.dev/github.com/DataDog/zstd?tab=importedby
https://pkg.go.dev/github.com/datadog/zstd?tab=importedby   (pulsar-client-go is one of those few users)

[2021-02-03 00:55] tuteng commented on #440
A temporary solution, if you don't need to use zstd related functions, you can simply replace this file and remove the code related to zstd, for example https://github.com/streamnative/pulsar-beat-output/blob/master/zstd_cgo.go

[code]

[2021-02-04 03:22] jiazhai commented on #444
Thanks for @jonyhy96  and @freeznet for the root cause of this issue, mark this as help wanted, so anyone would like to contribute could help on this.

[2021-02-04 03:42] flowchartsman opened #461 "Producer can enter unresponsive retry loop on disconnect (ignoring send context)"
I have a producer set up like the following:

[code]

If the broker goes away or I spin down the (standalone local) cluster, the producer enters a loop like the following and becomes unresponsive to sigint. It must be killed:

[code]

This means it gets into a state where the send is ignoring the context. This _may_ be occurring in **producer_partition.go**, but I haven't had the time to resear it

[2021-02-04 05:24] wuYin commented on #461
#### Issue
Infinite reconnection caused the message sending timeout checking doesn't work? If so, it is an known bug

#### Background
The context passed to Send is actually not used, send timeout checking will be done before batch flush which drivered by flush ticker
When broker connection broken, partition producer blocked to reconnect until succeed,  and further blocked it's eventloop goroutine,

[2021-02-05 22:16] yuanweikang2020 opened #462 "goroutine leak"
#### Expected behavior

[code]
this code, If the pulsar doesn't work properly, it will cause a goroutine leak.

[2021-02-07 09:57] sunpe commented on #440
mark

[2021-02-09 02:41] #458 closed

[2021-02-09 02:53] freeznet commented on #462
thanks @yuanweikang2020 for this issue, can you provide more context how to reproduce or verify this issue?

[2021-02-09 03:39] yuanweikang2020 commented on #462
when pulsar is failure, pulsar client reconnect
[code]
when reconnect pulsar Broker
[code]
get connection frequently
[code]

[2021-02-10 20:47] jbellis opened #464 ""go get" installation instructions don't work"
I get the following error:

cannot find package "github.com/apache/pulsar/pulsar-client-go/pulsar" in any of:
        /usr/lib/go-1.15/src/github.com/apache/pulsar/pulsar-client-go/pulsar (from $GOROOT)
        /home/jbellis/go/src/github.com/apache/pulsar/pulsar-client-go/pulsar (from $GOPATH)

[2021-02-10 20:50] #464 closed

[2021-02-10 20:59] jbellis commented on #464
Sorry, I was using the URL for the C go client.

[2021-02-12 13:17] omnilight commented on #440
Anyway, data dog had added go.mod file to their library, so I believe, we can update dependency here too

[2021-02-12 19:17] omnilight opened #466 "receiverQueueSize in case of partitioned topics"
**Is your feature request related to a problem? Please describe.**
Currently consumer option receiverQueueSize defines two things:
1. the size of the permits we send to broker
2. the size of the channel that receives messages inside consumer

When we are using partitioned topics, we create separate instance of partitionConsumer for every partition.
That leads to the situation when each partitioned

[2021-02-16 21:57] frankjkelly opened #468 "Add Support for NonDurable subscriptions"
**Is your feature request related to a problem? Please describe.**
The Java API supports Non-Durable Subscriptions via SubscriptionMode
https://github.com/apache/pulsar/blob/master/pulsar-client-api/src/main/java/org/apache/pulsar/client/api/ConsumerBuilder.java#L243-L256

but it appears that the Go client does not
https://github.com/apache/pulsar-client-go/blob/25f3075176f853f5f09d89b3b625e064643

[2021-02-17 04:18] rueian opened #469 "Access to partitionConsumer pc.conn not thread-safe"
While testing the #467, the test randomly result in data race:

[code]

[2021-02-17 07:13] rueian commented on #462
There are also goroutine leak on `consumer_partition.go` and `connection.go`

https://github.com/apache/pulsar-client-go/blob/25f3075176f853f5f09d89b3b625e0646432735f/pulsar/internal/connection.go#L333-L338

The `incomingRequestsCh` never closed, therefore this `failLeftRequestsWhenClose` will never exit.

https://github.com/apache/pulsar-client-go/blob/25f3075176f853f5f09d89b3b625e0646432735f/pul

[2021-02-18 03:22] codelipenghui commented on #468
@frankjkelly The go client support reader API which is based on the non-durable subscription. Is it works for you?

[2021-02-18 11:37] kenbaev commented on #349
Hi! is there any workaround for this bug?

[2021-02-18 17:31] frankjkelly commented on #468
Thanks - I guess that's not what I think we're seeing using the 0.3.0 Go Client library with Pulsar 2.6.1

In the image below taken from our Pulsar Grafana dashboard hopefully you can see our Consumers are short-lived but the count of subscriptions lasts much longer and the count of subscribers only goes down at the 1 hour mark since we have set a subscription expiration time on that namespace.

!

[2021-02-22 12:01] KannarFr opened #472 "TCP socket opened leak using proxy"
#### Expected behavior

When a client is connected, the proxy shouldn't continue to create a connection with the broker.

#### Actual behavior

Considering a client with one producer and one consumer,
A cluster with 20 proxies/20 brokers/7 ZK

##### With 500 clients

- java client conducts proxy to have 3500 opened TCP socket and it's stable over time.
- go client conducts proxy to have 4293 opene

[2021-02-23 11:19] KannarFr commented on #472
I'm currently running 1 client with one producer and one consumer.

Proxy had 7 TCP sockets opened after launching for this client. After 10 minutes it has 25 TCP sockets opened.

[2021-02-24 05:54] freeznet commented on #472
thanks for your brief description, would you mind to share some proxy's full logs for above tests with go client & java client?

[2021-02-24 11:20] omnilight commented on #387
Hello, I've also interested in this issue.

Currently it is impossible to detect if consumer closed if you are not using `consumer.Receive()` method. But this method is blocking and is intended to be used as a receiver of the message.

Maybe we can either add method like `Closed()` to the interface, or change `Receive()` method as proposed by issue author?

[2021-02-25 08:42] jonyhy96 opened #475 "KeyBasedBatchBuilder not work in perf code"
#### Expected behavior

perf code will works well when batch builder set to KeyBasedBatchBuilder

#### Actual behavior

panic: multi batches container not support Flush(), please use FlushBatches() instead

#### Steps to reproduce

Set BatcherBuilderType to pulsar.KeyBasedBatchBuilder in [perf code](https://github.com/apache/pulsar-client-go/blob/master/perf/perf-producer.go#L88), run the perf wit

[2021-02-25 10:36] jonyhy96 commented on #195
I'm facing the same performance issue.
From these two pic,we can see that java client performance on p55 and p99 is better than go's (about 10x faster in p99)
This advantage is more obvious in the cluster mode.(about 20x faster in p99 10w msg/s)

[2021-02-25 13:03] KannarFr commented on #472
For java:

[code]

Stable no more connections

For go:

[code]

A connection is newly opened

[2021-02-25 13:10] KannarFr commented on #472
@freeznet

[2021-02-26 08:36] GPrabhudas opened #477 "Fatal on error"
I see library does `log.fatal` some places which causes app to terminate.

example 👇
https://github.com/apache/pulsar-client-go/blob/master/pulsar/schema.go#L99
https://github.com/apache/pulsar-client-go/blob/master/pulsar/schema.go#L134
https://github.com/apache/pulsar-client-go/blob/master/pulsar/schema.go#L170

 I'm not sure I'm correct. But In general, libraries should not cause the app to ter

[2021-02-27 02:45] freeznet commented on #472
@KannarFr thanks for your inputs, I have to setup some test envs to debug with this issue. Will let you know if I have any updates.

[2021-03-01 05:38] #440 closed

[2021-03-02 04:02] freeznet commented on #472
@KannarFr I have compared go client and java client, one difference is go client send `PartitionedTopicMetadata` fetch request with new connection, but java is using lookup service's connection. I have created a pr #478 to fix this issue, PTAL if you have time, thanks.

[2021-03-03 01:11] freeznet opened #479 "ci bot not working"
#### Expected behavior

ci bot for pulsar-client-go is not working due to below error:

`zymap/bot@v1.0.1 is not allowed to be used in apache/pulsar-client-go. Actions in this workflow must be: within a repository owned by apache, created by GitHub, verified in the GitHub Marketplace or match the following: */*@[a-f0-9][a-f0-9][a-f0-9][a-f0-9][a-f0-9][a-f0-9][a-f0-9]+, AdoptOpenJDK/install-jdk@*,

[2021-03-03 18:22] sloan-dog opened #480 "Question Regarding Protobuf schema"
Hi,

I would like to utilize protobuf to define schema for a topic.

It is not apparent in documentation the format the protobuf schema function takes, and after reviewing a go test spec for protobuf schema, the test input looks identical to the test input for jsonschema. Can I assume that I should convert my protobufs to jsonschema, and pass the jsonschema string to the protobuf schema function?

[2021-03-04 18:52] sloan-dog opened #482 "message.GetSchemaValue() panics if message.schema is nil"
#### Expected behavior
Calling message.GetSchemaValue() should handle nil pointer deref on message.schema, and return error and not panic

#### Actual behavior
Calling message.GetSchemaValue() when schema is undefined panics

#### Steps to reproduce
[code]
handler panics, process dies

#### Notes: unclear why schema is undefined, producer for topic in this test is registered with schema. Utilizing

[2021-03-05 07:46] jonyhy96 opened #483 "data race in ci test"
[code]

https://github.com/apache/pulsar-client-go/pull/474/checks?check_run_id=1998557674

There is a data race happens when running the ci test. It happens occasionally

[2021-03-05 09:36] #475 closed

[2021-03-05 09:37] #472 closed

[2021-03-05 09:43] #444 closed

[2021-03-05 14:28] frankjkelly commented on #468
@codelipenghui @wolfstudy wondering if I am misunderstanding something with the Go client - perhaps my `ConsumerOptions `are wrong (see above) or there is a bug in the Broker side counts of open subscriptions but it does appear that the Go client uses Durable subscriptions? Thanks in advance!

[2021-03-09 04:50] #177 closed

[2021-03-09 16:26] hugomcruz opened #485 "Error when running on ARM32 bits - Raspberry Pi 2"
Hi,

I am getting this error when I compile for the RPI2.

panic: unaligned 64-bit atomic operation

goroutine 1 [running]:
runtime/internal/atomic.panicUnaligned()
	/usr/local/go/src/runtime/internal/atomic/unaligned.go:8 +0x24
runtime/internal/atomic.Xadd64(0x25f8c14, 0x1, 0x0, 0x1, 0x24180a8)
	/usr/local/go/src/runtime/internal/atomic/asm_arm.s:233 +0x14
github.com/apache/pulsar-client-go/pulsa

[2021-03-09 17:08] merlimat commented on #485
This looks more like a GO std library issue with `atomic.Xadd64()`.

[2021-03-10 00:33] merlimat commented on #485
It seems related to https://github.com/golang/go/issues/23345 . Not sure if there is an easy workaround that can applied to avoid the issue.

[2021-03-10 07:30] hugomcruz commented on #485
Yeh. I fixed it with a work around.
By adding "padding" to align the 64 bits Uint64 it solved the problem.  For now, I fixed just for the producer by changing the files:

- rpc_client.go

type rpcClient struct {
	requestIDGenerator  uint64
	producerIDGenerator uint64
	consumerIDGenerator uint64
	**pad                 uint32**
	serviceNameResolver ServiceNameResolver
	pool                Connection

[2021-03-10 13:18] omnilight opened #486 "Support for PIP-54"
**Is your feature request related to a problem? Please describe.**
https://github.com/apache/pulsar/pull/6052

Pulsar's PIP-54 introduces ability to ack batched messages individually with passing offset info.
But currently it looks like go client tracks acks of batched messages internally, that leads to the problem when messages could be redelivered more than once in case of broker/client failures

[2021-03-12 09:27] freeznet commented on #479
I have created a pr to make `pulsarbot` reusable, will change bot to `pulsarbot` once this pr https://github.com/apache/pulsar-test-infra/pull/18 is merged.

[2021-03-12 17:05] kyrozetera commented on #265
Have either of these options been pushed forward? This seems like a good idea, especially if SendAsync is used very sparingly, or if all producers have the same publish delay. All those tickers can eat up a lot of CPU for an idle service.

[2021-03-15 09:23] h-j-13 opened #488 "When use pulsar go client to consume message, found that the message consumption rate is fluctuating?"
#### Expected behavior / Actual behavior
I use pulsar-client-go write a demo program to consume message from pulsar, found that the **message consumption rate is fluctuating** and consume performance is very low.
But I think the consumption rate should be stable.

When use python pulsar api to make a demo to consume the same topic, the message consumption rate is stable, and performance is better

[2021-03-18 13:15] GPrabhudas opened #489 "Ability to set ServerName in TLS Config"
### Description:

Failing to connect to broker because cert verification fails with error: `x509: cannot validate certificate for xxx.xxx.xxx.xxx because it doesn't contain any IP SANs`

Assume pulsar cluster with below details
 - cluster url : `my.test.pulsar.cluster.com`
 - Size of Cluster : `assume 10 nodes.`
 - Cert: Cert generated using [LetsEncrypt](https://letsencrypt.org/) <br />
    - DNS

[2021-03-22 03:48] oryx2 opened #490 "error not return when encode failed"
Producer eat the error when scheme codec encode message failed,  ,should we just throw it?
[https://github.com/apache/pulsar-client-go/pulsar/producer_partition.go#L337](https://github.com/apache/pulsar-client-go/blob/5fb7f55939e6f4ec28126339b22a6b4018c0f2fa/pulsar/producer_partition.go#L337)

[2021-03-23 07:00] jonyhy96 opened #491 "Producer block may block forever"
#### Expected behavior

If producer.Close are called,it will close within configured OperationTimeout

#### Actual behavior

producer.Close may block forever and won't time out after configured OperationTimeout

#### Steps to reproduce

Just run the perf program for a while and send SIGINT or ctrl+c to it. This situation may be triggered.

This is because the callback of [producer.SendAsyc](https:

[2021-03-23 07:03] jonyhy96 commented on #491
/cc @freeznet @wolfstudy
I would like to fix this bug by add time out guarantee on RequestOnCnx
BTW, Can i join the slack of this project to get in touch with the mainainers?

[2021-03-24 01:30] freeznet commented on #491
@jonyhy96 thanks, PR are always welcome ;)

Also, the slack is free to join:

And you can join #dev-go channel to get in touch with go devs and users.

[2021-03-24 02:38] jonyhy96 commented on #491
https://apache-pulsar.slack.com/ shows me  `hy352144278@gmail.com doesn’t have an account on this workspace.` and https://apache-pulsar.herokuapp.com/ seems doesn't have #dev-go channel :sweat_smile:

[2021-03-24 03:21] freeznet commented on #491
@jonyhy96 You can browse all available channels from the plus icon next to `Channels` dropdown item on your Slack. Also I have sent an invitation to your email `hy352144278@gmail.com` as well.

[2021-03-26 04:01] XuanYang-cn opened #493 "After Closing client, the cnxPool isn't closed, the closed client will hold a fd forever and cause many goroutinues leak"
#### Expected behavior

goroutinues won't leak and fd resources will be released.

#### Actual behavior

**1. panic because the system runs out of fd. Ths system provides 1024 fd for every process by default, and pulsar-client holds all.**

[code]
**2. many goroutinues leak**

If you change 10000 to 500(which will only set up 1000 TCP connections), and you can see the massive goroutinue leak in pp

[2021-03-26 15:48] #493 closed

[2021-03-27 16:33] omnilight opened #495 "producer.Send() blocks forever for closed producer"
#### Expected behavior

In the following case
[code]
`producer.Send()` must return immediately with error like `producer closed`.

Method `producer.SendAsync()` must call passed callback and set parameter error to the `producer closed`.

#### Actual behavior

`producer.Send()` - blocks forever
`producer.SendAsync()` - will never call passed callback

#### Steps to reproduce

Simplest example will

[2021-03-27 19:29] omnilight opened #496 "MaxReconnectToBroker is useless for consumer"
#### Expected behavior

When we set `ConsumerOptions.MaxReconnectToBroker` to some value other than infinite, then when reconnection count reaches this value consumer should return with an error.

#### Actual behavior

Consumer just stuck, because [reconnectToBroker](https://github.com/apache/pulsar-client-go/blob/master/pulsar/consumer_partition.go#L861) just exists leaving consumer useless

####

[2021-03-28 10:10] omnilight commented on #496
Added pull request with fix

[2021-03-29 11:27] godchen0212 opened #498 "range channel causes deadlock"
The usage of range channel in connection.go line 334 is not correct. The range channel will be deadlock.

Bug Code: https://github.com/apache/pulsar-client-go/blob/4d6c15114b9b6a0fc41b58993cf8acdd0e617b2f/pulsar/internal/connection.go#L334

Reproduce method:
[code]

Output will be:
[code]

It can't be seen in pulsar for the main goroutines has exit. But exactly it remains in memory and cause gorou

[2021-03-31 08:07] jonyhy96 commented on #496
I think this is what `MaxReconnectToBroker` means, it won't try to reconnect to broker after given `MaxReconnectToBroker` tries. 😄
By the way, we do need to close useless consumer when we are not trying to reconnect to broker.

[2021-03-31 10:52] omnilight commented on #496
Yes, but in the case it stops reconnecting consumer will just stuck and no notification would be passed to the caller. In the pr I've added closing consumer in this case. For me that seems valid behaviour

[2021-04-01 20:33] michaeljmarshall opened #500 "Make Topic Level Prometheus Metrics Optional"
**Is your feature request related to a problem? Please describe.**
In `0.4.0`, https://github.com/apache/pulsar-client-go/pull/410 introduced topic level prometheus metrics. When consuming from or publishing to many topics, this creates many metrics and can cause problems for applications and/or prometheus instances. In my case, I saw up to 900k metrics produced by a single client, which caused me

[2021-04-02 18:08] alivannikov opened #501 "Semantics behind MaxDeliveries property"
What is the meaning of `MaxDeliveries` property in `DLQPolicy`, should it equal to total deliveries including original attempt or should it equal to desired number or retries?

PIP document https://github.com/apache/pulsar/wiki/PIP-58-%3A-Support-Consumers--Set-Custom-Retry-Delay and Java client implementation define it like this:

`/**
     * Maximum number of times that a message will be redeliv

[2021-04-04 23:43] bithavoc commented on #211
Heads up that when this gets implemented and users set `MessageChannel`, it should not start streaming immediately upon `CreateReader` because users may want to do `SeekByTime` first before wanting to receive messages via the channel, so we could provide an additional method `StartStreaming` or something that actually starts the goroutine and feeds `MessageChannel`, otherwise the channel may start

[2021-04-06 13:07] wolfstudy commented on #435
@bschofield https://github.com/apache/pulsar-client-go/pull/374 It seems that this problem has been resolved, I will close the issue first, if there are any related issues, please feel free to reopen.

[2021-04-06 13:07] #435 closed

[2021-04-06 13:27] bschofield commented on #435
Yes, I can confirm no reproduction in three months of heavy usage. I suspect the fault was actually in the old cgo client somewhere. Thanks for following up.

[2021-04-07 13:51] omnilight commented on #496
@wolfstudy Hi! Sorry for direct mention, but could we proceed with this issue in any way?

[2021-04-07 17:17] crossoverJie opened #503 "SendAsync sometimes returns the same MessageID"
#### Expected behavior
They are different IDs.

#### Actual behavior

[code]
Sometimes returns the same MessageID.

#### Steps to reproduce

[code]

But the Java client does not have this problem.

[code]

output:
[code]

#### System configuration
**Pulsar version**: 2.7.1
Go SDK: v0.3.0
Java SDK: 2.7.1

[2021-04-08 08:12] crossoverJie commented on #503
After testing, I found that the message could be sent successfully.

When I send two messages, they are only added once in the statistics of the admin desk.

![image](https://user-images.githubusercontent.com/15684156/113991368-f5b02980-9884-11eb-982b-492f5e8b4bf8.png)

Is it because the batch information is recorded here?

[2021-04-08 13:55] freeznet opened #504 "Support http based broker endpoint"
**Is your feature request related to a problem? Please describe.**

java-client has support http-based lookup: https://github.com/apache/pulsar/blob/12ef7c9b7ce698e6a8181700a2e8a2b030bcfa60/pulsar-client/src/main/java/org/apache/pulsar/client/impl/PulsarClientImpl.java#L150

We should add http-based lookup service to go client as well.

**Describe the solution you'd like**
- add `HttpLookupService

[2021-04-09 05:23] masterclock opened #506 "topic parse error should be checked"
#### Expected behavior
`ParseTopicName()` parses topic and its return error should be check,
but currently the `err` is just omitted by assigning to _.
this causes runtime panic.

[2021-04-10 06:29] michaeljmarshall commented on #500
@merlimat - I notice that you created the metrics in https://github.com/apache/pulsar-client-go/pull/410. Do you have any thoughts on adding this feature and if so, how hard it would be to implement? Thanks!

[2021-04-12 08:03] jonyhy96 opened #508 "KeyBasedBatchBuilder always timeout"
#### Expected behavior

internalFlushCurrentBatches behave normally like internalFlushCurrentBatch

#### Actual behavior

internalFlushCurrentBatches always timeout

#### Steps to reproduce

Use KeyBasedBatchBuilder to produce message and wait for a while, timeout will happens in `failTimeoutMessages` because of less of sentAt set at [here](https://github.com/apache/pulsar-client-go/blob/master/pu

[2021-04-14 05:27] flowchartsman commented on #452
Any progress on this?

[2021-04-14 13:51] flowchartsman commented on #468
To add some context, @frankjkelly and I spoke in the Pulsar Slack, and he mentioned that he misunderstood @codelipenghui's recommendation and that a `Reader` might work for him. Whether there's still a need for a non-durable subscription with a plain consumer, I can't say. If there's effectively no difference between this and a reader, I'd probably say the issue should be closed.

[2021-04-15 03:59] #508 closed

[2021-04-16 02:44] #504 closed

[2021-04-16 08:04] NessGo opened #511 "zero queue supoort"
**Is your feature request related to a problem? Please describe.**
   support zero queue  like  java client : pull the next messages when the last messages has been handled.

[2021-04-19 03:57] NessGo commented on #511
@sijie @jiazhai @codelipenghui @merlimat @freeznet

[2021-04-20 16:47] michaeljmarshall commented on #500
@wolfstudy - are you able to help provide insight into this feature request?

[2021-04-20 17:09] merlimat commented on #500
@michaeljmarshall Missed your comment earlier. I don't think it would be hard to add the configuration.

We'd just need some kind of enum setting in the `ClientOptions` to select the appropriate level of metric.

Right now the labels selected are: https://github.com/apache/pulsar-client-go/blob/ec40d795841b1d61f7cbb07fad08e3c587db8801/pulsar/internal/metrics.go#L24

I believe, with just few adjust

[2021-04-20 17:44] michaeljmarshall commented on #500
@merlimat - no worries, thank you for your helpful response. That makes sense, and it'll be great to get it in `0.5.0`.

[2021-04-21 00:20] #498 closed

[2021-04-26 10:15] nickmurr opened #512 "Unsubscribe from 1..n topic(s) in multi-topic/regexp subscription"
Is there a way to unsubscribe from some topics in multi-topics subscription?

[code]

[2021-04-27 03:04] wolfstudy commented on #512
@nickmurr At present, it seems that there is no good way. When you use multi-topics, the system understands that you want to use the same subscription to deal with these topics. If you don’t want to use the same subscription, you can assign these topics Create different subscriptions to deal with.

[2021-04-27 03:08] wolfstudy commented on #506
@masterclock agree with you, It seems that we can't ignore this error here. It is a better way to handle this error. Are you interested in it? Welcome to send pull request to fix it.

[2021-04-28 08:20] omnilight opened #513 "BatchingMaxMessages option is ignored"
#### Expected behavior

When I initialize client like the following:

[code]

I expect it will send maximum 2 messages in the batch, even if I send using `SendAsync`.

#### Actual behavior

Parameter is ignored in batch builder. Both `batchContainer` and `keyBasedBatchContainer` during calling of their method `Add` use `hasSpace` method internally. But this method looks like the following:

[code]

[2021-05-04 22:04] #479 closed

[2021-05-06 15:50] megarajtm opened #515 "Producer Send and SendAsyn is blocked for forever when pulsar is down"
Producer Send and SendAsyn is blocked forever when pulsar is down if the MaxReconnectToBroker is set to ultimate. In case of pulsar down scenarios, within `runEventsLoop`in `producer_partition.go`, the call enters `reconnectToBroker` and remains in a forever loop until the pulsar broker connection is established. Due to this, no more events are consumed from `eventsChan` channel cause both Send an

[2021-05-06 15:56] megarajtm commented on #515
**Proposed fix** : In `runEventsLoop`, have a seperate go-routine working on `connectClosedCh` channel. This was `eventsChan` is never blocked.

{code}
func (p *partitionProducer) runEventsLoop() {
	go func() {
		for {
			select {
			case <-p.closeCh:
				return
			case <-p.connectClosedCh:
				p.log.Debug("runEventsLoop will reconnect")
				p.reconnectToBroker()
			}
		}
	}()
	for {
		select {

[2021-05-11 09:52] cydrain opened #516 "pulsar RACE issue"
I'm from Milvus team, we use Pulsar in our system.
When I run unittest, I often see following pulsar RACE issue.
Can you help to fix this?

[code]

[2021-05-12 15:13] omnilight commented on #515
This is a duplication of #496

[2021-05-13 05:50] megarajtm commented on #515
#496 Issue seems to be with the consumers. Also, does the proposed fix look good. If yes, I can create a PR for the same

[2021-05-13 09:08] EAHITechnology commented on #506
Can you point out the context

[2021-05-14 09:03] cydrain commented on #516
Any update ?

[2021-05-18 06:49] wonko commented on #511
This is a duplicate of #398.

[2021-05-19 16:58] cameronbroe opened #519 "Connection health checks"
**Is your feature request related to a problem? Please describe.**
As an application, I am unable to determine the current state of health of the Pulsar client. If my connection dies, my application ends up in a hanging state with infinite retries. Setting a maximum number of retries through the currently provided interface just causes a hanging state, with no notification that my application can

[2021-05-20 14:55] fracasula opened #520 "panic: send on closed channel"
#### Expected behavior

I shouldn't get a `panic` that kills the whole microservice.

#### Actual behavior

I got a `panic`.

#### Steps to reproduce

Have a lot of consumers with `pulsar.Exclusive` read from several topics and in another shell keep resetting cursors while the cluster is under heavy load. Lots of `[Failed to create consumer]` and `"[Failed to connect to broker.]"` are reported. At

[2021-05-20 21:36] #520 closed

[2021-05-24 14:54] jiangbo9510 opened #527 "Sometime goroutine send message with timeout option ,but it be blocked"
pulsar-client-version: v0.5.0

![image](https://user-images.githubusercontent.com/17549520/119365527-94cc9b80-bce2-11eb-98cd-8d33514a188b.png)

I have some question in line 493. Is this should be

`item := p.pendingQueue.Peek()` ?

[2021-05-25 07:20] xiebei1108 commented on #527
I met same problem( pulsar-client-go v0.4.1).
Metrics pulsar_client_producer_pending_messages is always 58 and log in line 488 printed 58 times. So, I think send message timeout will block the goroutine.
<img width="1164" alt="wecom-temp-f01895dd2cdef150eed33073f827de84" src="https://user-images.githubusercontent.com/28754442/119455796-87f48a00-bd6c-11eb-8e0d-ea340fb2b88d.png">

[2021-05-25 11:42] jiangbo9510 commented on #527
I do't think so.  In my log, It not always 58, and It not always the same number.

[2021-05-25 11:47] jiangbo9510 commented on #527
Polling a item for pendingqueue will lost this one. Also  connection  recive the response from broken. It will not call the callback function. That's make the sending goroutine blocked on `wg.Wait()`

[2021-05-27 08:20] wolfstudy commented on #527
@jiangbo9510 It looks like a bug here, can you send a pull request to fix this? welcome.

[2021-05-27 08:41] wolfstudy commented on #516
Hello @cydrain Sorry for the late reply to this question. This looks like a bug, I will send a pull request to fix this problem later.

[2021-06-01 12:45] jiangbo9510 commented on #527
ok. I will send a pr in recent days.

[2021-06-02 03:02] wolfstudy commented on #496
Thanks @omnilight work for this, agree with you.

[2021-06-02 03:15] #491 closed

[2021-06-03 09:24] gmurphy-cogito opened #531 "Justification for accepting PR #524 for 0.6.0 when #481 (updating jwt-go version) was already included in 0.5.0?"
It appears as though PR #524 was accepted and merged after #481 had already updated the `jwt-go` dependency to a later version; was there justification for this, or was this done in error, in which case #524 should be reverted?

[2021-06-04 18:24] omnilight commented on #519
#496 is for consumer

[2021-06-10 07:24] uiot-stack opened #537 "zstd library problem"
https://github.com/apache/pulsar-client-go/blob/v0.5.0/pulsar/internal/compression/zstd_cgo.go#L27

And PR:

https://github.com/apache/pulsar-client-go/pull/385

[2021-06-11 02:43] jackwang123 commented on #200
i encounter the same problem, have you resolved this problem?

[2021-06-11 03:13] jackwang123 opened #538 "short read when reading frame size"
Hi,
I got this error info below after produced a lot messages to pulsar

How can i deal with this problem?

[2021-06-11 09:45] freeznet opened #540 "http lookup service not have namespace topics query implemented"
#### Expected behavior

When using regex topics consumer with HTTP client URL, the client will fail to query namespace topics and throw failed handshake error. This is because the client sends protobuf requests to HTTP service.

#### Actual behavior

get namespace topic lists from http lookup service with http URL.

[2021-06-14 12:11] wonko commented on #398
Hi, any update or timeline on this? We have to work with our own patched version of the driver for now, which is far from ideal ... This still seems like a basic functionality which isn't working as it should.

[2021-06-16 10:17] frankjkelly commented on #333
Not urgent for us but we use a lot of Go as well and would be interested in this feature. Thanks!

[2021-06-16 11:00] #483 closed

[2021-06-17 09:07] #540 closed

[2021-06-17 10:38] yuvalgut commented on #447
any news about this?

[2021-06-18 06:22] jiangbo9510 commented on #527
If you have the same problem, You can replace the plusar-client-go library to https://github.com/jiangbo9510/pulsar-client-go/releases/tag/v0.5.2 in go mod file.

[2021-06-21 09:59] uiot-stack opened #545 "client panic when on high throughput"

[2021-06-21 10:01] #545 closed

[2021-06-21 11:36] r-funke opened #546 "go client producer + schema breaks Pulsar SQL"
#### Expected behavior

When using go client to send messages with schema, I expect to be able to use Pulsar SQL to query the data.

#### Actual behavior

tl;dr sql-worker is throwing an exception

I copy&pasted code from `pulsar/schema_test.go` to create a test client that is producing a message with JSON schema and consuming it afterwards. I verified that the go client is able to consume the mes

[2021-06-22 02:46] uiot-stack opened #547 "panic: connection error"
#### System configuration
**Pulsar version**: 2.7.2
**Pulsar client version**: 0.5.0

`{"consumerID":13,"error":"connection error","level":"error","msg":"[Failed to create consumer]","name":"jpucv","subscription":"0","time":"2021-06-22T02:43:40Z","topic":"non-persistent://public/default/mqtt/broadcast-partition-15"}

{"consumerID":13,"error":"connection error","level":"error","msg":"[Failed to cre

[2021-06-24 03:44] freeznet opened #550 "data race when reconnecting to broker and resending `pendingItems`"
Race condition happened when reconnecting to broker and resending `pendingItems`. If `pendingItem` just timeout and complete by `failTimeoutMessages`, the `pendingItem`'s buffer will be put back into `bufferPool`, and new batch builder will use the buffer, which will cause data race as the fault log shown below.

[code]

[2021-06-24 08:36] #550 closed

[2021-06-24 11:03] omnilight commented on #486
@wolfstudy can we have any progress on that?

[2021-06-28 03:40] wolfstudy opened #553 "[Reader] The topic not found when create reader with listener name"
**Describe the bug**
A clear and concise description of what the bug is.

**To Reproduce**

[code]

**Expected behavior**
We can create the reader successfully

**Screenshots**
<img width="1271" alt="bdcb83d8-758d-4545-91f8-3ba1ac7685a7" src="https://user-images.githubusercontent.com/20965307/123574245-15127f00-d802-11eb-88c7-8190742154df.png">

**Desktop (please complete the following information

[2021-06-28 03:41] wolfstudy opened #554 "When using TopicsPattern mode to subscribe, there will be a 403 error"
**Describe the bug**

[code]

**Screenshots**

![企业微信截图_1da1205e-82c5-4608-b6c8-ff4f50d1d571](https://user-images.githubusercontent.com/20965307/123574650-d4673580-d802-11eb-8a00-17cc23e626d7.png)

**Desktop (please complete the following information):**
 - OS: Mac OS
 - Go version: master

---

It is normal to use Topic and Topics, and the demo of TopicsPattern as follows:

[code]

[2021-06-28 08:31] wolfstudy commented on #554
It seems to be caused by using the lookup service of http, it is normal to use the lookup service of binary

[2021-06-28 12:39] #554 closed

[2021-06-28 20:53] dvergnes opened #556 "Backoff is calculated without jitter"
The problem occurs when the connection to the broker is lost. The client will try to reconnect with an exponential backoff. The problem is that there is no jitter involved when calculating the backoff delay.

#### Expected behavior

Not all clients try to reconnect at the same time.

#### Actual behavior

All clients try to reconnect at the same time to the brokers

#### Steps to reproduce

- Set

[2021-06-29 07:04] longtengz commented on #452
I have the same error

[code]

even if I set `StartMessageID` to `pulsar.EarliestMessageID()`.

[2021-06-30 12:10] #556 closed

[2021-07-12 07:12] wolfstudy opened #564 "Support handleSendError command in Go SDK"
**Is your feature request related to a problem? Please describe.**

When the broker is processing the connection failure, it will throw a ServerError to the client. The current Go SDK does not handle this scenario, and we need to add the corresponding code logic for this

**Describe the solution you'd like**

In `commands.go`, add this logic:

[code]

[2021-07-12 07:53] #516 closed

[2021-07-12 09:28] wolfstudy opened #565 "Send gorutine blocked"
#### Expected behavior

In `blocking_queue.go`,

[code]

when `bq.size == bq.maxSize`, It means that the pending queue is full at this time, and we use `bq.isNotFull.Wait()` to block the send gorutine here. At this point, we look forward to using `peek()` or other methods to consume the data from the pending queue, but here is a lock added. In fact, after blocking, we have not unlocked yet, so dea

[2021-07-13 18:26] cckellogg commented on #565
Do you have any profiling that shows go routines deadlocked here? Calling `Wait()` should release the lock right?

[2021-07-15 12:01] wolfstudy commented on #565
Yes, When entering the `Wait()` phase, we should try to release the `Lock` so that subsequent gorutine can continue to operate this resource.

[2021-07-16 09:58] #564 closed

[2021-07-19 15:31] cckellogg commented on #565
This code `bq.isNotFull` is a conditional variable (https://pkg.go.dev/sync#Cond.Wait) so it should already be releasing the lock when wait is called.

[code]

[2021-07-20 15:55] maraiskruger1980 opened #568 "On partitioned topics, DLQ producer create panics"
#### Expected behavior

When a message from a partitioned topic is put on DLQ it should work

#### Actual behavior

It panics with the following error:

[code]

#### Steps to reproduce

Create a consumer that NACKS all messages on a partitioned topic. When it tries to create the DLQ producer, it panics

#### System configuration
**Pulsar version**: 2.6